{% extends "admin.html.twig" %}

{% block title %}{{ 'Journal comptable'|trans }} - GNT Pharma{% endblock %}

{% block finance %}active{% endblock %}

{% block journal %}active{% endblock %}

{% block body %}

    <div class="col-lg-11 mt-5 mb-5 fond-7">
        <h3 class="mt-4 text-bold">
            <i class="fas fa-money-bill fa-lg"></i><i class="fas fa-hourglass-half mr-2"></i>
            {{ 'Compte'|trans }}
        </h3>
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-danger alert-dismissible fade show radius-10 shadow-black mt-5 mb-5">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message|trans }}
            </div>
        {% endfor %}
        <div class="col-lg-12 fond-5 mt-5">
            <h4 class="mt-4">
                <i class="fa fa-money-bill-wave"></i>
                {{ 'Soldes'|trans }}
            </h4>
            <div class="row">
                <div class="col-lg-4">
                    <div class="alert alert-success shadow-black radius-10 mt-4 p-4 text-green">
                        <span class="text-bold">{{ 'Solde caisse'|trans }}</span> :
                        <h3 class="text-nowrap text-bold text-center mt-3">
                            {{ caisse|number_format(0, '', ' ') }} F CFA
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="alert alert-success shadow-black radius-10 mt-4 p-4 text-green">
                        <span class="text-bold">{{ 'Avoirs en banque'|trans }}</span> :
                        <h3 class="text-nowrap text-bold text-center mt-3">
                            {{ banque|number_format(0, '', ' ') }} F CFA
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="alert alert-success shadow-black radius-10 mt-4 p-4 text-green">
                        <span class="text-bold">{{ 'Solde global'|trans }}</span> :
                        <h3 class="text-nowrap text-bold text-center mt-3">
                            {{ (caisse + banque)|number_format(0, '', ' ') }} F CFA
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 fond-5 mt-5">
            <h4 class="mt-4">
                <i class="fa fa-money-bill-wave"></i>
                {{ 'Situations'|trans }}
            </h4>
            <button data-toggle="modal" data-target="#situation" class="btn btn-shadow btn-green mt-4">
                <i class="fa fa-money-bill-wave"></i>
                {{ 'Rapport du jour'|trans }}
            </button>
            <div class="modal fade mt-5" id="situation" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content radius-10">
                        <div class="modal-header bb-green">
                            <h5 class="mt-3 text-center text-bold">
                                {{ 'Rapport journalière'|trans }}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h4 class="text-center text-bold text-dark mt-4">
                                {{ 'Quelle rapport voulez-vous ?'|trans }}
                            </h4>
                            <div class="col-12 mt-5 mb-4">
                                <div class="centrer">
                                    <div class="row">
                                            <a href="{{ path('finance_brouyard_caisse') }}"{# target="_blank"#}>
                                                <button type="button"
                                                        class="btn btn-shadow btn-normal btn-green mr-3" {#onclick="window.location.reload();"#}>
                                                    &emsp;
                                                    <i class="fa fa-cash-register fa-lg"></i>
                                                    {{ 'Caisse'|trans }}
                                                    &emsp;
                                                </button>
                                            </a>
                                            <a href="{{ path('finance_brouyard_banque') }}"{# target="_blank"#}>
                                                <button type="button"
                                                        class="btn btn-shadow btn-normal btn-primary mr-3"{# onclick="window.location.reload();"#}>
                                                    &emsp;
                                                    <i class="fa fa-university fa-lg"></i>
                                                    {{ 'Banque'|trans }}
                                                    &emsp;
                                                </button>
                                            </a>
                                            <a href="{{ path('finance_brouyard') }}"{# target="_blank"#}>
                                                <button type="button"
                                                        class="btn btn-shadow btn-normal btn-success-light"{# onclick="window.location.reload();"#}>
                                                    &emsp;
                                                    <!-- <i class="fa fa-university fa-lg"></i> -->
                                                    <i class="fa-solid fa-square-poll-vertical fa-lg"></i>
                                                    {{ 'Tous'|trans }}
                                                    &emsp;
                                                </button>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 mb-3">
                <div class="col-lg-4">
                    <div class="card border-green shadow-black mt-4">
                        <div class="card-header bg-success-light text-green bb-green">
                            <h6 class="mb-n1">
                                {{ 'Rapport à une autre date'|trans }}
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group mt-1">
                                <input type="date" id="day" name="day" class="form-control" onchange="dayenable()">
                            </div>

                            <button data-toggle="modal" data-target="#jour"
                                    class="btn btn-shadow btn-td btn-green mt-2 mb-n1 float-right disabled" id="daybtn">
                                <i class="fa fa-check-circle"></i>
                                {{ 'Valider'|trans }}
                            </button>
                            <div class="modal fade mt-5" id="jour" role="dialog">
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content radius-10">
                                        <div class="modal-header bb-green">
                                            <h5 class="mt-3 text-center text-bold">
                                                {{ 'Rapport à une autre date'|trans }}
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h4 class="text-center text-bold text-dark mt-4">
                                                {{ 'Quelle rapport voulez-vous ?'|trans }}
                                            </h4>
                                            <div class="col-12 mt-5 mb-4">
                                                <div class="centrer">
                                                    <div class="row">
                                                            <button type="button" class="btn btn-shadow btn-green mr-3"
                                                                    onclick="daycaisse()">
                                                                &emsp;
                                                                <i class="fa fa-cash-register fa-lg"></i>
                                                                {{ 'Caisse'|trans }}
                                                                &emsp;
                                                            </button>
                                                            <button type="button" class="btn btn-shadow btn-primary mr-3"
                                                                    onclick="daybanque()">
                                                                &emsp;
                                                                <i class="fa fa-university fa-lg"></i>
                                                                {{ 'Banque'|trans }}
                                                                &emsp;
                                                            </button>
                                                            <button type="button" class="btn btn-shadow btn-success-light"
                                                                    onclick="day()">
                                                                &emsp;
                                                                <!-- <i class="fa fa-university fa-lg"></i> -->
                                                                <i class="fa-solid fa-square-poll-vertical fa-lg"></i>
                                                                {{ 'Tous'|trans }}
                                                                &emsp;
                                                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card border-green shadow-black mt-4">
                        <div class="card-header bg-success-light text-green bb-green">
                            <h6 class="mb-n1">
                                {{ 'Rapport dans un intervalle de dates'|trans }}
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="row mb-n3">
                                <div class="col-lg-6 form-group mt-1">
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="text-nowrap text-right mt-2 mr-n3">
                                                {{ 'Du'|trans }}
                                            </p>
                                        </div>
                                        <div class="col-10">
                                            <input type="date" id="date1" name="date1" class="form-control"
                                                   onchange="daysenable()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 form-group mt-1">
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="text-nowrap text-right mt-2 mr-n3">
                                                {{ 'Au'|trans }}
                                            </p>
                                        </div>
                                        <div class="col-10">
                                            <input type="date" id="date2" name="date2" class="form-control"
                                                   onchange="daysenable()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button data-toggle="modal" data-target="#jours"
                                    class="btn btn-shadow btn-green mt-2 mb-n1 float-right disabled" id="daysbtn">
                                <i class="fa fa-check-circle"></i>
                                {{ 'Valider'|trans }}
                            </button>
                            <div class="modal fade mt-5" id="jours" role="dialog">
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content radius-10">
                                        <div class="modal-header bb-green">
                                            <h5 class="mt-3 text-center text-bold">
                                                {{ 'Rapport dans un intervalle de dates'|trans }}
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h4 class="text-center text-bold text-dark mt-4">
                                                {{ 'Quelle rapport voulez-vous ?'|trans }}
                                            </h4>
                                            <div class="col-12 mt-5 mb-4">
                                                <div class="centrer">
                                                    <div class="row">

                                                            <button type="button" class="btn btn-shadow btn-green mr-3"
                                                                    onclick="dayscaisse()">
                                                                &emsp;
                                                                <i class="fa fa-cash-register fa-lg"></i>
                                                                {{ 'Caisse'|trans }}
                                                                &emsp;
                                                            </button>
                                                            <button type="button" class="btn btn-shadow btn-primary mr-3"
                                                                    onclick="daysbanque()">
                                                                &emsp;
                                                                <i class="fa fa-university fa-lg"></i>
                                                                {{ 'Banque'|trans }}
                                                                &emsp;
                                                            </button>
                                                            <button type="button" class="btn btn-shadow btn-success-light"
                                                                    onclick="days()">
                                                                &emsp;
                                                                <!-- <i class="fa fa-university fa-lg"></i> -->
                                                                <i class="fa-solid fa-square-poll-vertical fa-lg"></i>
                                                                {{ 'Tous'|trans }}
                                                                &emsp;
                                                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-green shadow-black mt-5 mb-3 fond-5">
            <div class="card-header bg-success-light bb-success">
                <h5 class="text-success text-bold">
                    <i class="fa fa-money-bill"></i>
                    <i class="fa fa-angle-double-right"></i>
                    <i class="fa fa-university"></i>
                    {{ 'Journal Comptable'|trans }}
                </h5>
            </div>
            <div class="card-body">
                <table class="table table-success-light table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="text-center"> {{ 'n'|trans }}</th>
                        <th class="text-center"> {{ 'Date'|trans }}</th>
                        <th>{{ 'Compte'|trans }}</th>
                        <th>{{ 'Reference'|trans }}</th>
                        <th>{{ 'Libelé'|trans }}</th>
                        <th class="text-center">{{ 'Debit'|trans }}</th>
                        <th class="text-center">{{ 'Crédit'|trans }}</th>
{#                        <th class="text-center">{{ 'Solde'|trans }}</th> #}
                    </tr>
                    </thead>
                    <tbody>
                    {% set montant2 = 0 %}
                    {% set i =1 %}
                        {% for ecriture in ecritures %}
                            {% set first = 0 %}

                            <tr>
                                <td data-label="{{ 'Date'|trans }}" class="text-center">
                                   {% if first == 0 %} {{ i }} {% set i = i + 1 %} {% endif %}
                                </td>
                                <td data-label="{{ 'Date'|trans }}" class="text-center">
                                    {% if first == 0 %}
                                        {{ ecriture.date|date('d/m/Y') }}
                                        {% set first = 1 %}
                                    {% endif %}
                                </td>
                                <td data-label="{{ 'compte'|trans }}" class="credit">

                                    {{ ecriture.debit ? ecriture.comptecredit : '' }}
                                    {{ ecriture.credit ? ecriture.comptecredit : '' }}

                                </td>
                                <td data-label="{{ 'reference'|trans }}">

                                </td>
                                <td data-label="{{ 'Libelé'|trans }}">
                                    {{ ecriture.debit ? ecriture.libelle : '' }}
                                    {{ ecriture.credit ? ecriture.libelle : '' }}

                                </td>
                                <td data-label="{{ 'credit'|trans }}"  class="text-right">
{#                                                                        {{ ecriture.debit ? ecriture.montant|number_format(0, '', ' ') : '' }}#}
                                    {{ ecriture.credit ? ecriture.montant|number_format(0, '', ' ') : '' }}
                                </td>
                                <td data-label="{{ 'debit'|trans }}"  class="text-right">
                                    {{ ecriture.debit ? ecriture.montant|number_format(0, '', ' ') : '' }}
{#                                    {{ ecriture.credit ? ecriture.montant|number_format(0, '', ' ') : '' }}#}

                                </td>
{#                                <td data-label="{{ 'solde'|trans }}"  class="text-center">#}


{#                                {% set montant2 = montant2 + debit.depense.montant %}#}
                            </tr>
                            <tr>
                                <td data-label="{{ 'Date'|trans }}" class="text-center">
                                   {% if first == 0 %} {{ i }} {% set i = i + 1 %} {% endif %}
                                </td>
                                <td data-label="{{ 'Date'|trans }}" class="text-center">
                                    {% if first == 0 %}
                                        {{ ecriture.date|date('d/m/Y') }}
                                        {% set first = 1 %}
                                    {% endif %}
                                </td>
                                <td data-label="{{ 'debit'|trans }}" class="credit">

                                    {{ ecriture.debit ? ecriture.comptedebit : '' }}
                                    {{ ecriture.credit ? ecriture.comptedebit : '' }}

                                </td>
                                <td data-label="{{ 'reference'|trans }}">

                                </td>
                                <td data-label="{{ 'Libelé'|trans }}">
                                    {{ ecriture.debit ? ecriture.libelle : '' }}
                                    {{ ecriture.credit ? ecriture.libelle : '' }}

                                </td>
                                <td data-label="{{ 'credit'|trans }}"  class="text-right">
                                    {{ ecriture.debit ? ecriture.montant|number_format(0, '', ' ') : '' }}
{#                                    {{ ecriture.credit ? ecriture.montant|number_format(0, '', ' ') : '' }}#}
                                </td>
                                <td data-label="{{ 'debit'|trans }}"  class="text-right">
{#                                    {{ ecriture.debit ? ecriture.montant|number_format(0, '', ' ') : '' }}#}
                                    {{ ecriture.credit ? ecriture.montant|number_format(0, '', ' ') : '' }}

                                </td>
{#                                <td data-label="{{ 'solde'|trans }}"  class="text-center">#}


{#                                {% set montant2 = montant2 + debit.depense.montant %}#}
                            </tr>
                    {% else %}
                        <tr>
                            <td data-label="colspan" colspan="4">
                                {{ 'Aucun transfert de fonds'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- <div class="card-footer bg-success-light bt-success">
                <h4 class="text-success text-bold">
                    {{ 'Total transfert'|trans }} :
                    <span class="text-nowrap">
{#                    {{ montant2|number_format(0, '', ' ') }} F CFA#}
                </span>
                </h4>
            </div> -->
        </div>
    </div>

    {% block script %}
        <script>
            //situation journaliere caisse
            function day() {
                var date1 = new Date($('#day').val());
                if (date1 < new Date()) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('finance_day_brouyard_lien') }}",
                        data: "date1=" + $('#day').val(),
                        success: function (data) {
                            window.open(data['ok'], '_self');
                            // window.location.reload();
                        },
                        error: function () {
                            alert("{{ 'La requête n a pas abouti'|trans }}");
                        }
                    });
                } else {
                    $('#day').val('');
                    alert("{{ 'Choisis une date anterieur à la date du jour'|trans }}");
                }

            }

            function daycaisse() {
                var date1 = new Date($('#day').val());
                if (date1 < new Date()) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('finance_day_brouyard_lien_caisse') }}",
                        data: "date1=" + $('#day').val(),
                        success: function (data) {
                            window.open(data['ok'], '_self');
                            // window.location.reload();
                        },
                        error: function () {
                            alert("{{ 'La requête n a pas abouti'|trans }}");
                        }
                    });
                } else {
                    $('#day').val('');
                    alert("{{ 'Choisis une date anterieur à la date du jour'|trans }}");
                }

            }

            //situation journaliere banque
            function daybanque() {
                var date1 = new Date($('#day').val());
                if (date1 < new Date()) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('finance_day_brouyard_lien_banque') }}",
                        data: "date1=" + $('#day').val(),
                        success: function (data) {
                            window.open(data['ok'], '_self');
                            // window.location.reload();
                        },
                        error: function () {
                            alert("{{ 'La requête n a pas abouti'|trans }}");
                        }
                    });
                } else {
                    alert("{{ 'Vérifiez la date saisie'|trans }}");
                }

            }

            //situation intervalle caisse
            function days() {
                var date1 = new Date($('#date1').val());
                var date2 = new Date($('#date2').val());
                if (date1 < date2 && date2 < new Date()) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('finance_days_brouyard_lien') }}",
                        data: "date1=" + $('#date1').val() + "&date2=" + $('#date2').val(),
                        success: function (data) {
                            window.open(data['ok'], '_self');
                            // window.location.reload();
                        },
                        error: function () {
                            alert("{{ 'La requête n a pas abouti'|trans }}");
                        }
                    });

                } else {
                    alert("{{ 'Vérifiez les dates saisies'|trans }}");
                }

            }
            function dayscaisse() {
                var date1 = new Date($('#date1').val());
                var date2 = new Date($('#date2').val());
                if (date1 < date2 && date2 < new Date()) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('finance_days_brouyard_lien_caisse') }}",
                        data: "date1=" + $('#date1').val() + "&date2=" + $('#date2').val(),
                        success: function (data) {
                            window.open(data['ok'], '_self');
                            // window.location.reload();
                        },
                        error: function () {
                            alert("{{ 'La requête n a pas abouti'|trans }}");
                        }
                    });

                } else {
                    alert("{{ 'Vérifiez les dates saisies'|trans }}");
                }

            }

            //situation intervalle banque
            function daysbanque() {
                var date1 = new Date($('#date1').val());
                var date2 = new Date($('#date2').val());
                if (date1 < date2 && date2 < new Date()) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('finance_days_brouyard_lien_banque') }}",
                        data: "date1=" + $('#date1').val() + "&date2=" + $('#date2').val(),
                        success: function (data) {
                            window.open(data['ok'], '_self');
                            // window.location.reload();
                        },
                        error: function () {
                            alert("{{ 'La requête n a pas abouti'|trans }}");
                        }
                    });
                } else {
                    alert("{{ 'Vérifiez les dates saisies'|trans }}");
                }
            }

            //activation bouton date
            function dayenable() {
                if ($('#day').val() != '') {
                    $('#daybtn').removeClass("disabled");
                } else {
                    $('#daybtn').addClass("disabled");
                }
            }

            //activation boutons dates
            function daysenable() {
                if ($('#date1').val() != '' && $('#date2').val() != '') {
                    $('#daysbtn').removeClass("disabled");
                } else {
                    $('#daysbtn').addClass("disabled");
                }
            }
        </script>
    {% endblock %}

{% endblock %}
