<div class="modal fade mt-5" id="rapport" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content radius-10">
                <div class="modal-header bb-green">
                    <h5 class="mt-3 text-center text-bold">
                        {{ 'Rapport journalière'|trans }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h4 class="text-center text-bold text-dark mt-4">
                        {{ 'Quelle rapport voulez-vous ?'|trans }}
                    </h4>
                    <div class="col-12 mt-5 mb-4">
                        <div class="centrer">
                            <div class="row">
                                <a href="{{ path('finance_brouyard_caisse') }}"{# target="_blank"#}>
                                    <button type="button"
                                            class="btn btn-shadow btn-normal btn-green mr-3" {#onclick="window.location.reload();"#}>
                                        &emsp;
                                        <i class="fa fa-cash-register fa-lg"></i>
                                        {{ 'Caisse'|trans }}
                                        &emsp;
                                    </button>
                                </a>
                                <a href="{{ path('finance_brouyard_banque') }}"{# target="_blank"#}>
                                    <button type="button"
                                            class="btn btn-shadow btn-normal btn-primary mr-3"{# onclick="window.location.reload();"#}>
                                        &emsp;
                                        <i class="fa fa-university fa-lg"></i>
                                        {{ 'Banque'|trans }}
                                        &emsp;
                                    </button>
                                </a>
                                <a href="{{ path('finance_brouyard') }}"{# target="_blank"#}>
                                    <button type="button"
                                            class="btn btn-shadow btn-normal btn-success-light"{# onclick="window.location.reload();"#}>
                                        &emsp;
                                        <!-- <i class="fa fa-university fa-lg"></i> -->
                                        <i class="fa-solid fa-square-poll-vertical fa-lg"></i>
                                        {{ 'Tous'|trans }}
                                        &emsp;
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>