{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block promotion %}active{% endblock %}
{% block current_promotion %}active{% endblock %}

{% block body %}
<div class="container mt-4 fond-7 pb-3">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-shopping-cart mr-2"></i>
        {{ "Liste des promotions en cours"|trans }}
    </h3>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message|trans }}
        </div>
    {% endfor %}

    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>{{ 'Designation'|trans }}</th>
                <th>{{ 'Date Debut'|trans }}</th>
                <th>{{ 'Date Fin'|trans }}</th>
                <th>{{ 'Type'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.designation }}</td>
                <td>{{ promotion.debut ? promotion.debut|date('d/m/Y') : '' }}</td>
                <td>{{ promotion.fin ? promotion.fin|date('d/m/Y') : '' }}</td>
                <td>{{ promotion.type }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('promotion_show', {'id': promotion.id}) }}">
                        <i class="fa fa-list"></i>
                        {{ 'Afficher'|trans }}
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <button type="button" class="btn btn-success" id="btn{{ promotion.id }}"  onclick="arreter({{ promotion.id }})">
                        <i class="fa fa-stop-circle"></i>
                        {{'Arrêter'|trans}}
                    </button>
                {{ include('promotion/admin/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">
                    {{ 'Aucune promotion'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% block scripts %}
        <script>
            function arreter(id) {
                if (confirm("{{ 'Voulez-vous vraiment arreter promotion ?'|trans }}")) {
                    $('#btn' + id).html("<i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i>");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('promotion_arreter') }}",
                        data: "promo=" + id,
                        success: function (data) {
                            if (data['ok'] != '') {
                                document.location.href= data['ok'];
                            }
                        },
                        error: function () {
                            alert("{{ 'La requête n\'a pas abouti'|trans }}");
                        }
                    });
                }

            }

        </script>
    {% endblock %}
{% endblock %}
