
{% extends 'admin.html.twig' %}
    {% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
    {% block promotion %}active{% endblock %}

    {% block body %}
<div class="container mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-shop mr-2"></i>
        {{ "Promotion"|trans }}
    </h3>
    <table class="table table-success-light table-bordered table-hover table-striped w-100">
        <thead>
        <tr>
            <th>Designation</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ promotion.designation }}</td>
                <td>{{ promotion.debut ? promotion.debut|date('Y-m-d') : '' }}</td>
                <td>{{ promotion.fin ? promotion.fin|date('Y-m-d') : '' }}</td>
                <td>{{ promotion.type }}</td>


        </tr>
        </tbody>
    </table>
</div>
        <div class="container mt-4 fond-7">
            <h3 class="mt-4 mb-5 text-bold">
                <i class="fa-brands fa-product-hunt mr-2"></i>
                {{ "Produits"|trans }}
            </h3>

            <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
                <thead>
                <tr>
                    <th>Reference</th>
                    <th>Designation</th>
                    <th>Session</th>
                    <th>Publique</th>
                    <th>Commande<br> Minimum</th>
                    <th>Fabriquant</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for promotionproduit in produitspromotion %}
                    <tr>
                        <td>{{ promotionproduit.produit.reference }}</td>
                        <td>{{ promotionproduit.produit.desigantion }}</td>
                        <td>{{ promotionproduit.produit.prix }}</td>
                        <td>{{ promotionproduit.produit.prixpublic }}</td>
                        <td>{{ promotionproduit.produit.mincommande }}</td>
                        <td>{{ promotionproduit.produit.fabriquant }}</td>
                        <td>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

</div>>
{% endblock %}
