{{ form_start(form, {'attr': {'id': 'form'}}) }}

<div class="col-lg-5 offset-lg-2 mt-4 fond-7 pb-5 pt-3 px-5">
    <h4 class="mb-3">
        <i class="fa-brands fa-product-hunt mr-2"></i><i class="fa fa-plus mr-2"></i>
        {{ 'Nouvelle formation'|trans }}
    </h4>

    {% for message in app.flashes('notice') %}
    <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            &times;
        </button>
        {{ message|trans }}
    </div>
    {% endfor %}

    <div class="row">

        <div class="col-12 mb-4">
            {{ form_row(form.nom, {'attr': {'placeholder': 'Nom de la formation*'}, 'label': false}) }}
        </div>

        <div class="col-12 mb-4">
            {{ form_row(form.lieu, {'attr': {'placeholder': 'Lieu de la formation *'}, 'label': false}) }}
        </div>

        <div class="col-12 mb-4">
            {{ form_row(form.datedebut, {'attr': {'title': 'Date début de la formation *'}, 'label': false}) }}
        </div>

        <div class="col-12 mb-4">
            {{ form_row(form.datefin, {'attr': {'title': 'Date fin de la formation *'}, 'label': false}) }}
        </div>

        <div class="col-12 mb-4">
            {{ form_row(form.type, {'attr': {'placeholder': 'Contenu de la formation *'}, 'label': false}) }}
        </div>
        
        <div class="col-12 mb-4">
            {{ form_row(form.contenu, {'attr': {'placeholder': 'Contenu de la formation *'}, 'label': false}) }}
        </div>

        <div class="col-12 mb-4">
            {{ form_row(form.employe, {'attr': {'placeholder': 'Contenu de la formation *'}, 'label': false}) }}
        </div>

    </div>
    {{ form_rest(form) }}
</div>