{% extends 'admin.html.twig' %}

{% block body %}



    {{ include('formation/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="col-md-3 offset-md-3 mt-4 pt-3 fond-7">
        <div class="centrer">
            {#                <div class="row">#}
            <button type="button" class="btn btn-shadow btn-green btn-normal mb-3 mr-3" id="send"
                    onclick="envoie()">
                <i class="fa fa-save"></i>
                {{ 'Enregistrer'|trans }}
            </button>

            <a id="{{ formation.id }}" onclick="load({{ formation.id }})" href="{{ path('formation_index') }}" class="btn btn-success-light btn-normal mb-3">
                <i class="fa fa-undo"></i>
                {{ 'Retour'|trans }}
            </a>
            {{ form_rest(form) }}
            {#                </div>#}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
