<!DOCTYPE html>

<title>{{ 'Editer Livrer'|trans }}</title>

{% block body %}
    <h1>{{ 'Editer Livrer'|trans }}</h1>

    {{ include('livrer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('livrer_index') }}">back to list</a>

    {{ include('livrer/_delete_form.html.twig') }}
{% endblock %}
