{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande déjà Livrée"|trans }} - GNT Pharma {% endblock %}
{% block livraison %}active{% endblock %}
{% block all_livraison %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7 mb-5">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-shopping-cart mr-2"></i>
            {{ "Commande déjà Livrée"|trans }}
        </h3>
        {% for message in app.flashes('echec') %}
            <div class="alert alert-danger alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ message|trans }}
            </div>
        {% endfor %}
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <table class="table table-success-light table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'Numero Commande'|trans }}</th>
                        <th>{{ 'Client'|trans }}</th>
                        <th>{{ 'Date de commande'|trans }}</th>
                        <th>{{ 'Date de Paiement'|trans }}</th>

                    </tr>
                    </thead>
                    <tbody>
                    <td>{{ commandereference.id }}</td>
                    <td>{{ commandereference.user.nom }}</td>
                    <td>{{ commandereference.date ? commandereference.date|date('d/m/Y') : '' }}</td>
                    <td>{{ commandereference.paiement ? commandereference.paiement.date|date('d/m/Y') : '' }}</td>

                    </tbody>
                </table>
            </div>
        </div>
        {% for liv in livrer %}
            {% set entete = 0 %}
            {% set produit = 0 %}
            {% set quantite = 0 %}
        {% for  commande in liv.livraison %}
        {% set ug = 0 %}



{% if commande.livrer.id != entete %}
    <div class="row mt-5">
    <div class="col-lg-4">
    <table class="table table-success-light table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>{{'N° Bordereau'|trans}}</th>
            <th>{{'Date d\'émission'|trans}}</th>
            <th>{{'Date de livraison'|trans}}</th>

        </tr>
        </thead>
        <tbody>
        <td>{{ commande.livrer.id }}</td>
        <td>{{ commande.date|date('d/m/Y') }}</td>
        <td>{{ commande.livrer.dateefectlivraison|date('d/m/Y') }}</td>

        </tbody>
    </table>
    </div>
    </div>
        <table class="table table-success-light table-bordered table-hover table-striped w-100 text-center">

{% endif %}

            {% if commande.produit.id != produit %}
                {% if not loop.first %}



                    <tr>
                        <th colspan="2"> {{ "Quantité Totale Livrée"|trans }}</th>
                        <th> {{ quantite }}</th>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    {% set quantite = 0 %}
                {% endif %}
                <thead>
                <tr>
                    <th colspan="2">{{ commande.produit.reference }} : {{ commande.produit.desigantion }}</th>
                    <th>{{ 'Quantité Commande'|trans }}:
                        {{ commande.quantitecommander }}
                        {% if commande.promotion is not null %}
                            {% if commande.promotion.premier is not null %}
                                {% if commandeproduit.quantite / commandeproduit.promotion.cinquieme >= 1 %}

                                    {% set unite = (commandeproduit.quantite / commandeproduit.promotion.qcinquieme)|round(0, 'floor') %}
                                    {% set ug = ug + unite * commandeproduit.promotion.ugqcinquieme %}
                                    {% set suite = commandeproduit.quantite - unite * commandeproduit.promotion.qcinquieme %}

                                    {% if suite / commandeproduit.promotion.quatrieme >= 1 %}

                                        {% set unite = (suite / commandeproduit.promotion.quatrieme)|round(0, 'floor') %}
                                        {% set ug = ug + unite * commandeproduit.promotion.ugquatrieme %}
                                        {% set suite = suite - unite * commandeproduit.promotion.quatrieme %}

                                        {% if suite / commandeproduit.promotion.troisieme >= 1 %}

                                            {% set unite = (suite / commandeproduit.promotion.troisieme)|round(0, 'floor') %}
                                            {% set ug = ug + unite * commandeproduit.promotion.ugtroisieme %}
                                            {% set suite = suite - unite * commandeproduit.promotion.troisieme %}

                                            {% if suite / commandeproduit.promotion.deuxieme >= 1 %}
                                                {% set unite = (suite / commandeproduit.promotion.deuxieme)|round(0, 'floor') %}
                                                {% set ug = ug + unite * commandeproduit.promotion.ugdeuxieme %}
                                                {% set suite = suite - unite * commandeproduit.promotion.deuxieme %}

                                                {% if suite / commandeproduit.promotion.premier >= 1 %}
                                                    {% set unite = (suite / commandeproduit.promotion.premier)|round(0, 'floor') %}
                                                    {% set ug = ug + unite * commandeproduit.promotion.ugpremier %}

                                                {% endif %}

                                            {% elseif suite / commandeproduit.promotion.premier >= 1 %}
                                                {% set unite = (suite / commandeproduit.promotion.premier)|round(0, 'floor') %}
                                                {% set ug = ug + unite * commandeproduit.promotion.ugpremier %}

                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                {% elseif commandeproduit.quantite / commandeproduit.promotion.quatrieme >= 1 %}

                                    {% set unite = (commandeproduit.quantite / commandeproduit.promotion.quatrieme)|round(0, 'floor') %}
                                    {% set ug = ug + unite * commandeproduit.promotion.ugquatrieme %}
                                    {% set suite = commandeproduit.quantite - unite * commandeproduit.promotion.quatrieme %}

                                    {% if suite / commandeproduit.promotion.troisieme >= 1 %}

                                        {% set unite = (suite / commandeproduit.promotion.troisieme)|round(0, 'floor') %}
                                        {% set ug = ug + unite * commandeproduit.promotion.ugtroisieme %}
                                        {% set suite = suite - unite * commandeproduit.promotion.troisieme %}

                                        {% if suite / commandeproduit.promotion.deuxieme >= 1 %}
                                            {% set unite = (suite / commandeproduit.promotion.deuxieme)|round(0, 'floor') %}
                                            {% set ug = ug + unite * commandeproduit.promotion.ugdeuxieme %}
                                            {% set suite = suite - unite * commandeproduit.promotion.deuxieme %}

                                            {% if suite / commandeproduit.promotion.premier >= 1 %}
                                                {% set unite = (suite / commandeproduit.promotion.premier)|round(0, 'floor') %}
                                                {% set ug = ug + unite * commandeproduit.promotion.ugpremier %}

                                            {% endif %}

                                        {% elseif suite / commandeproduit.promotion.premier >= 1 %}
                                            {% set unite = (suite / commandeproduit.promotion.premier)|round(0, 'floor') %}
                                            {% set ug = ug + unite * commandeproduit.promotion.ugpremier %}

                                        {% endif %}
                                    {% endif %}
                                {% elseif commande.quantitecommander / commande.promotion.troisieme >= 1 %}

                                    {% set unite = (commande.quantitecommander / commande.promotion.troisieme)|round(0, 'floor') %}
                                    {% set ug = ug + unite * commande.promotion.ugtroisieme %}
                                    {% set suite = commande.quantitecommander - unite * commande.promotion.troisieme %}

                                    {% if suite / commande.promotion.deuxieme >= 1 %}
                                        {% set unite = (suite / commande.promotion.deuxieme)|round(0, 'floor') %}
                                        {% set ug = ug + unite * commande.promotion.ugdeuxieme %}
                                        {% set suite = suite - unite * commande.promotion.deuxieme %}

                                        {% if suite / commande.promotion.premier >= 1 %}
                                            {% set unite = (suite / commande.promotion.premier)|round(0, 'floor') %}
                                            {% set ug = ug + unite * commande.promotion.ugpremier %}

                                        {% endif %}

                                    {% elseif suite / commande.promotion.premier >= 1 %}
                                        {% set unite = (suite / commande.promotion.premier)|round(0, 'floor') %}
                                        {% set ug = ug + unite * commande.promotion.ugpremier %}

                                    {% endif %}

                                {% elseif commande.quantitecommander / commande.promotion.deuxieme >= 1 %}


                                    {% set unite = (commande.quantitecommander / commande.promotion.deuxieme)|round(0, 'floor') %}
                                    {% set ug = ug + unite * commande.promotion.ugdeuxieme %}
                                    {% set suite = commande.quantitecommander - unite * commande.promotion.deuxieme %}

                                    {% if suite / commande.promotion.premier >= 1 %}
                                        {% set unite = (suite / commande.promotion.premier)|round(0, 'floor') %}
                                        {% set ug = ug + unite * commande.promotion.ugpremier %}

                                    {% endif %}

                                {% elseif commande.quantitecommander / commande.promotion.premier >= 1 %}

                                    {% set unite = (commande.quantitecommander / commande.promotion.premier)|round(0, 'floor') %}
                                    {% set ug = ug + unite * commande.promotion.ugpremier %}

                                {% endif %}
                                <span class="badge badge-danger">
                                    +{{ ug }} U.G.
                            </span>
                            {% endif %}
                        {% endif %}
                    </th>
                </tr>

                <tr>

                    <th>{{'N° Lot'|trans}}</th>
                    <th>{{'Péremption'|trans}}</th>
                    <th>{{'Quantité livrée'|trans}}</th>
                </tr>
                </thead>
            {% endif %}


            <tbody>
            <tr>

                <td>{{ commande.lot }}</td>
                <td>{{ commande.peremption|date('d/m/Y') }}</td>

                <td class="text-center">
                    {{ commande.quantitelivrer }}
                    {% set quantite = quantite + commande.quantitelivrer %}
                </td>

            </tr>
            {% if loop.last %}

                <tr>
                    <th colspan="2"> {{ "Quantité Totale Livrée"|trans }}</th>
                    <th> {{ quantite }}</th>
                </tr>
            {% endif %}
            {% set entete = commande.livrer.id %}
            {% set produit = commande.produit.id %}
                {% endfor %}
            </tbody>
            </table>
                {% else %}
                {% endfor %}
        <div class="col-4 mb-2">
            <img src="{{ asset(livrer[0].signature) }}" alt="">
        </div>
        <div class="col-md-2 offset-md-4 mt-5 mb-5 pt-2 pb-2 fond-7">
            <div class="centrer">
                <a href="{{ path('livraison_historique_show_print',{'id': commandereference.id }) }}" class="btn btn-success float-end">
                    <i class="fa fa-print"></i> {{ "Imprimer"|trans }}
                </a>
            </div>
        </div>

    </div>
{% endblock %}
