{% extends 'livreur.html.twig' %}
{% block title %} {{ "Livraison"|trans }} - GNT Pharma {% endblock %}
{% block stock %}active{% endblock %}
{% block livraison %}active{% endblock %}
{% block all_livraison %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-shopping-cart mr-2"></i>
            {{ "historique des livraisons"|trans }}
        </h3>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ message|trans }}
            </div>
        {% endfor %}


        <table class="table table-success-light table-bordered table-hover table-striped w-100" id="list">
            <thead>
            <tr>
                <th>{{'N° bordereau'|trans}} </th>
                <th>{{'Client'|trans}}</th>
                <th>{{ 'Date d\'emission'|trans}}</th>
                <th>{{'Date de livraison'|trans}}</th>
                <th>{{'Détails'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for commande in livrers %}
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.commande.user.nom }}</td>
                    <td>{{ commande.date|date('d/m/Y') }}</td>
                    <td>{{ commande.dateefectlivraison|date('d/m/Y') }}</td>
                    <td>
                        <a id="{{ commande.id }}" onclick="load({{ commande.id }})" class="btn btn-success" href="{{ path('livraison_livreur_historique_show', {'id': commande.id}) }}">
                            <i class="fa fa-list"></i>
                            {{'Afficher'|trans}}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{'Aucune commande'|trans}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
