{% extends 'client.html.twig' %}
{% block title %} {{ "Livraison"|trans }} - GNT Pharma {% endblock %}
{% block livraison %}active{% endblock %}
{% block new_livraison %}active{% endblock %}

{% block body %}
<div class="container-fluid mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-shopping-cart mr-2"></i>
        {{ "Liste des commandes pour livraison"|trans }}
    </h3>
<div class="row">
    <div class="col-lg-6">
        <h5 class="mt-3 mb-2 text-bold">
            {{ "Commande en attente de livraison"|trans }}
        </h5>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message|trans }}
        </div>
    {% endfor %}


    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="list">
        <thead>
            <tr>
                <th>{{ 'N° Commande '|trans}}</th>
                <th>{{ 'Date'|trans }}</th>
                <th>{{ 'Montant'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.date|date('d/m/Y') }}</td>
                <td>{{ commande.montant }}</td>
                <td>
                    <a  id="cmd{{ commande.id }}" onclick="load('cmd{{ commande.id }}')" class="btn btn-success" href="{{ path('commande_panier_Detail', {'commande': commande.id}) }}"><i class="fa fa-list"></i>
                        {{ 'Afficher'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'Aucune commande'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="col-lg-6">
        <h5 class="mt-3 mb-2 text-bold">
            {{ "Commande avec reste à livrer"|trans }}
        </h5>
        <table class="table table-success-light table-bordered table-hover table-striped w-100" id="list">
            <thead>
            <tr>
                <th>{{ 'N° Commande'|trans }} </th>
                <th>{{ 'Date'|trans }}</th>
{#                <th>{{ 'Montant'|trans }}</th>#}
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for livrer in livrers %}
                <tr>
                    <td>{{ livrer.commande.id }}</td>
                    <td>{{ livrer.commande.date|date('d/m/Y') }}</td>
{#                    <td>{{ livrer.commande.montant }}</td>#}
                    <td>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'Aucune commande'|trans }}</td>
                </tr>
            {% endfor %}
            {% for retour in retours %}
                <tr>
                    <td>{{ retour.commande.id }}</td>
                    <td>{{ retour.date|date('d/m/Y') }}</td>
                    <td>

                    </td>
                </tr>
            {% else %}
                {% set reste = 1 %}
                <tr>
                    <td colspan="4">{{ 'Aucun retour de produit'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}
