

    <div class="row">
        <div class="col-12">
            <div class="col-md-6 offset-md-3 mt-5 fond-7">
                <h4 class="mt-3">
                    <i class="fa fa-rotate mr-2"></i><i class="fa fa-plus mr-2"></i>
                    {{ 'Nouveau Réclamation'|trans }}
                </h4>
                <div class="col-md-8 offset-md-2 mb-5">
                    <h6 class="mt-4 text-danger">
                        {{ 'Les champs marqués par * sont obligatoires'|trans }}
                    </h6>
                    {{ form_start(form, {'attr':{'id': 'form'}}) }}

                    <div class="form-group mt-4">
                        {{ form_row(form.motif, {'attr':{'placeholder':'Motif *'}, 'label':false}) }}
                    </div>
                    <div class="form-group mt-4">
                        {{ form_row(form.commande, {'attr':{'placeholder':'commande *'}, 'label':false}) }}
                    </div>
                    <div class="form-group mt-4">
                        {{ form_row(form.commentaire, {'attr':{'placeholder':'Commentaire *'}, 'label':false}) }}
                    </div>

                </div>
            </div>
            <div class="col-md-6 offset-md-3 mt-4 mb-5 pt-3 pb-2 fond-7">
                <div class="centrer">
                    {#                <div class="row">#}
                    <button type="button" class="btn btn-shadow btn-green btn-normal mb-2 mr-3" id="send"
                            onclick="envoie()">
                        <i class="fa fa-save"></i>
                        {{ 'Enregistrer'|trans }}
                    </button>

                    <button type="reset" class="btn btn-shadow btn-danger btn-normal mb-2">
                        <i class="fa fa-delete-left"></i>
                        {{ 'Effacer'|trans }}
                    </button>
                    {{ form_rest(form) }}
                    {#                </div>#}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


