{% extends 'commande.html.twig' %}
{% block title %} {{ "Commande-Reclamation"|trans }} - GNT Pharma {% endblock %}
{% block reclamation %} active{% endblock %}
{% block my_reclamation %}active{% endblock %}



{% block body %}
    <div class="container-fluid mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-rotate mr-2"></i>
            {{ 'Vos réclamations'|trans }}
        </h3>
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active" href="#">{{ 'En cours'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('reclamation_index_cloturer', {'user': app.user.id}) }}">{{'Cloturées'|trans}}</a>
            </li>
        </ul>

        <table class="table table-success-light table-bordered table-hover table-striped" id="list">
            <thead>
            <tr>
                <th>{{'Reference'|trans}}</th>
                <th>{{ 'Date de Creation'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for reclamation in reclamations %}
                <tr>
                    <td>RECL{{ reclamation.id }}</td>
                    <td>{{ reclamation.creation ? reclamation.creation|date('d/m/Y') : '' }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('reclamation_show', {'id': reclamation.id, 'user' : app.user.id}) }}"><i class="fa fa-list"></i>
                            {{ 'Afficher'|trans }}</a>
                        {#                    <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}">edit</a>#}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{'Aucune réclamation'|trans}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
