{% extends 'commande.html.twig' %}
{% block title %} {{ "Commande-Reclamation"|trans }} - GNT Pharma {% endblock %}
{% block order %}active{% endblock %}


{% block body %}
    <h1>Vos réclamations</h1>

    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Date de Creation</th>
                <th>Status</th>
                <th>Date de  Cloture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.reference }}</td>
                <td>{{ reclamation.creation ? reclamation.creation|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.status ? 'Yes' : 'No' }}</td>
                <td>{{ reclamation.cloture ? reclamation.cloture|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('reclamation_show', {'id': reclamation.id}) }}"><i class="fa fa-list"></i> Afficher</a>
{#                    <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
