{% extends 'admin.html.twig' %}
{% block title %} {{ "Avoir"|trans }} - GNT Pharma {% endblock %}
{% block officine %}active{% endblock %}
{% block avoir %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-money-bill mr-2"></i>
            {{ "Avoir"|trans }}
        </h3>
        <div class="row justify-content-end">
            <div class="col-lg-5">
                <table class="table table-success-light table-bordered">
                    <tbody>

                    <tr>
                        <th>{{ 'Numero commande'|trans }}</th>
                        <th>{{ 'Date'|trans }}</th>
                        <th>{{ 'Montant'|trans }}</th>
                    </tr>
                    <tr>
                        <td>{{ avoir.commande.id }}</td>
                        <td>{{ avoir.date ? avoir.date|date('d/m/Y') : '' }}</td>
                        <td>{{ avoir.Montant|number_format(0, '' , ' ') }}</td>
                    </tr>
                    </tbody>p
                </table>
            </div>
        </div>
        <table class="table table-success-light table-bordered table-hover table-striped w-100">
            <thead>
            <tr>
                <th>{{ 'référence'|trans }}</th>
                <th>{{ 'désignation'|trans }}</th>
                <th>{{ 'prix cession'|trans }}</th>
                <th>{{ 'Quantité Commande'|trans }}</th>
                <th>{{'Reste à livrer'|trans}}</th>
                <th>{{'Montant avoir'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for commande in details %}
                <tr>
                    <td>{{ commande.produit.reference }}</td>
                    <td>{{ commande.produit.desigantion }}</td>
                    <td>{{ commande.produit.prix|number_format(0, '' , ' ') }}</td>
                    <td>
                        {{ commande.quantite }}
                    </td>

                    <td class="text-center">{{ commande.quantite - commande.quantitelivre }}</td>
                    <td>
                        {{ (commande.produit.prix * (commande.quantite - commande.quantitelivre))|number_format(0, '' , ' ') }}
                        {% set total = total + (commande.produit.prix * (commande.quantite - commande.quantitelivre)) %}
                    </td>
                </tr>
            {% else %}
            {% endfor %}
            <tr>
                <td colspan="5" class="text-right text-bold">
                    {{ 'Total Avoir'|trans }}
                </td>
                <td class="text-bold">{{ total|number_format(0, '' , ' ') }}</td>
            </tr>
        </table>
    </div>


<div class="container mt-4 mb-5 py-3 fond-7">
    <div class="centrer">
        <div class="row">

            <button type="button"
                    class="btn btn-success"
                    data-toggle="modal" data-target="#modal"
                    id="btn">
                <i class="fa fa-money-bill"></i>
                {{ 'Rembourser'|trans }}
            </button>
            <div class="modal fade" id="modal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog text-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                {{ 'Remboursement'|trans }}
                            </h1>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body px-5">

                            {# traitement paiement #}
                            {{ form_start(form, {'attr':{'id': 'form'}}) }}
                            <div class="form-group mt-4">
                                {{ form_row(form.type, {'label':false, 'attr' : {'onchange' : 'typeversement()'}}) }}
                            </div>
                            <div id="versement">
                                <div class="form-group mt-4">
                                    {{ form_row(form.banque, {'label':false, 'attr' : {'placeholder':'Banque'}}) }}
                                </div>
                                <div class="form-group mt-4">
                                    {{ form_row(form.numero, {'label':false, 'attr' : {'placeholder':'Numéro'}}) }}
                                </div>
                            </div>
                            {{ form_rest(form) }}

                            {# fin paiement#}
                        </div>
                        <div class="modal-footer px-5 py-4">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    id="annuler"><i class="fa fa-undo"></i>
                                {{ 'Annuler'|trans }}
                            </button>
                            <button type="button" class="btn btn-success ms-3"
                                    id="ajouter"
                                    onclick="number()"><i
                                        class="fa fa-money-bill"></i>
                                {{ 'Rembourser'|trans}}
                            </button>
                        </div>
                        {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    {{ include('javascript.html.twig') }}

{% endblock %}
{% block scripts %}
    <script>
        function number() {
            if ($('#remboursement_type option:selected').val() != '') {

                $('#ajouter').html("<i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i>");
                $('#form').submit();

            }else{
                alert("{{ 'choisis le type de reglement'|trans}}");
            }
        }

        function typeversement() {
            if ($('#remboursement_type option:selected').val() == 'Cheque' || $('#remboursement_type option:selected').val() == 'Virement') {
                $('#versement').show();
                $('#remboursement_numero').val();
            } else {
                $('#versement').hide();
                $('#remboursement_numero').val();
            }
        }

    </script>

{% endblock %}