{% extends 'admin.html.twig' %}


{% block discipline %}active{% endblock %}
{% block demande %}active{% endblock %}

{% block body %}
    <div class="container-fluid mt-4 fond-7">
        <h3 class="mt-4 text-bold">
            <i class="fa fa-money-bill mr-2"></i>
            {{ "Listes des demandes d'explication"|trans }}
        </h3>
        <a href="{{ path('explication_new') }}" class="btn btn-success my-3"><i class="fas fa-plus"></i>Nouvelle demande</a>
        <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
            <thead>
            <tr>
                <th>{{ 'Date demande d\'explication'|trans }}</th>
                <th>{{ 'Date de l\'incident'|trans }}</th>
                <th>{{ 'Objet demande'|trans }}</th>
                <th>{{ 'Employés'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for demande in demandes %}
                <tr>
                    <td data-label="{{ 'Date demande d\'explication'|trans }}">
                        {{ demande.date ? demande.date|date('d/m/Y') : '' }}
                    </td>
                    <td data-label="{{ 'Date de l\'incident'|trans }}">
                        {{ demande.dateIncident ? demande.dateIncident|date('d/m/Y') : '' }}
                    </td>
                    <td data-label="{{ 'Objet demande'|trans }}">{{ demande.objet }}</td>

                    <!-- Affichage des employés associés -->
                    <td data-label="{{ 'Employés'|trans }}">
                        {% for employe in demande.employe %}
                            {{ employe.nom ~ ' ' ~ employe.prenom }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>

                    <td data-label="{{ 'Actions'|trans }}" class="text-nowrap">
                        <a id="{{ demande.id }}" onclick="load({{ demande.id }})" href="{{ path('explication_show', {'id': demande.id}) }}" title="{{ 'Voir'|trans }}" class="btn btn-success">
                            <i class="fa fa-eye"></i>
                            Details
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">{{ 'Aucune demande d\'explication trouvée'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
