{% extends 'rh.html.twig' %}
{% block title %} {{ 'Mon profile'|trans }} {% endblock %}
{% block officine %}active{% endblock %}
{% block clients %}active{% endblock %}
{% block body %}
{#    {{ include('security/security/profile-info.html.twig') }}#}

    <div class="container mt-5 mb-5 p-5 fond-7">
        <h4 class="text-bold mb-5">
            <i class="fa fa-user mr-2"></i>
            {{ 'Profil utilisateur'|trans }}
        </h4>

        <div class="row">
            {% set employe = app.user %}
            <div class="col-md-10 pt-5">
                <p class="">{{ employe.matricule }}</p>
                <p class="text-bold">{{ employe.prenom }} {{ employe.nom }}</p>
                <p class="font-italic">{{ employe.poste.nom }}</p>
                <p class="">{{ employe.poste.departement.nom }}</p>
            </div>
            <div class="col-md-2">
                <img src="{{asset('images/avatar-homme.avif') }}" width="50" alt="Photo" class="rounded-circle" />
            </div>
        </div>
{#        <div class="row">#}
            {% for message in app.flashes('notice') %}
                <div class="col-lg-12 mt-4 alert alert-success alert-dismissible fade show radius-10 shadow-black"
                     role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message|trans }}
                </div>
            {% endfor %}

            <ul class="nav nav-tabs mb-4">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        {{'Informations'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {{'Securite'|trans}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {{'Professionnelles'|trans}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {{'Discipline'|trans}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {{'Bulletins'|trans}}
                    </a>
                </li>
            </ul>

           {# {{ include('security/security/boutons.html.twig') }}
            <div class="col-lg-3 mt-5 text-center">
                <img src="{{ asset('images/team_1.avif') }}" alt="" class="w-100 img-fluid rounded">
                #}{#{% if user.sexe == "Monsieur" %}#}{#
                <img src="{{asset('images/avatar.jpg') }}" width="100" alt="Photo" class="rounded-circle" />
                #}{# {% else %}#}{#
                #}{# <img src="{{asset('images/avatar-femme.jpg') }}" width="100" alt="Photo" class="rounded-circle" />#}{#
                #}{# {% endif %}#}{#
                #}{# <h6 class="mt-3">{{ user.bloodgroup }}</h6>#}{#
            </div>
            <div class="col-lg-9 mt-5">
                <div class="row">
                    <div class="col-lg-3 text-right text-bold">{{ 'Prénom'|trans }}</div>
                    <div class="col-lg-9 ml-n4">{{ user.prenom }}</div>
                    <div class="col-lg-3 text-right text-bold">{{ 'Nom'|trans }}</div>
                    <div class="col-lg-9 ml-n4">{{ user.nom }}</div>
                    <div class="col-lg-3 text-right text-bold">{{ 'Téléphone'|trans }}</div>
                    <div class="col-lg-9 ml-n4">{{ user.phone }}</div>
                    <div class="col-lg-3 text-right text-bold">{{ 'Email'|trans }}</div>
                    <div class="col-lg-9 ml-n4">{{ user.email }}</div>
                    <div class="col-lg-3 text-right text-bold">{{ 'Adresse'|trans }}</div>
                    <div class="col-lg-9 ml-n4">{{ user.adresse }}</div>
                </div>
            </div>#}
{#        </div>#}
    </div>
{% endblock %}
