{% extends 'rh.html.twig' %}
{% block title %} {{ "Lignes de depenses"|trans }} - GNT Pharma {% endblock %}
{% block employe %}active{% endblock %}
{% block poste %}active{% endblock %}
{% block all_postes %}active{% endblock %}
{% block body %}
<div class="container mt-4 fond-7 pb-5 pt-3 px-5">
    <h4 class="text-bold mb-5">
        <i class="fa-solid fa-gears fa-lg"></i>
        {{ 'Configuration du système'|trans }}
    </h4>
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('departement_index') }}">
                {{'Département'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('poste_index') }}">
                {{'Poste'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('type_conge_index') }}">
                {{'Permission'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('type_sanction_index') }}">
                {{'Sanction'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('type_contrat_index') }}">
                {{'Contrat'|trans}}
            </a>
        </li>
    </ul>
    <h5>{{ "Liste des postes"|trans }}</h5>
    <div class="tab-content">
        <!-- Section Département -->
        <a href="{{ path('poste_new') }}" class="btn btn-success mb-4"><i class="fas fa-plus"></i>Nouvel poste</a>
        <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
            <thead>
                <tr>
                    <th>{{('Nom'|trans)}}</th>
                    <th>{{('Description'|trans)}}</th>
                    <th>{{('actions'|trans)}}</th>
                </tr>
            </thead>
            <tbody>
                {% for poste in postes %}
                <tr>
                    <td data-label="Nom">{{ poste.nom }}</td>
                    <td data-label="Description">{{ poste.description }}</td>
                    <td data-label="Actions">
                        <a href="{{ path('poste_show', {'id': poste.id}) }}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('poste_edit', {'id': poste.id}) }}" class="btn btn-success-light"><i class="fas fa-edit"></i></a>
                        {{ include('poste/_delete_form.html.twig') }}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="text-center">Aucune ligne de dépenses</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}