{{ form_start(form, {'attr' : { 'id' : 'form'}}) }}

<div class="col-lg-8 offset-lg-2 mt-4 fond-7 pb-5 pt-3 px-5">
    <h4 class="mb-3">
        <i class="fa-brands fa-product-hunt mr-2"></i><i class="fa fa-plus mr-2"></i>
        {{ 'Nouveau Produit'|trans }}
    </h4>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message|trans }}
        </div>
    {% endfor %}
    {#<h6 class="mt-4 mb-3 text-danger">
        {{ 'Les champs marqués par * sont obligatoires'|trans }}
    </h6>#}
    <div class="row">

        <div class="col-md-6 mb-4">
            {{ form_row(form.reference, {'attr':{'placeholder':'Code produit *'}, 'label':false}) }}
        </div>
        <div class="col-md-6 mb-4">
            {{ form_row(form.desigantion, {'attr':{'placeholder':'Désignation *'}, 'label':false}) }}
        </div>
        <div class="col-md-6 mb-4">
            {{ form_row(form.prix, {'attr':{'placeholder':'Prix Cession *'}, 'label':false}) }}
        </div>
        <div class="col-md-6 mb-4">
            {{ form_row(form.prixpublic, {'attr':{'placeholder':'Prix Public *'}, 'label':false}) }}
        </div>
        <div class="col-md-6 mb-4">
            {{ form_row(form.mincommande, {'attr':{'placeholder':'Commande minimum *'}, 'label':false}) }}
        </div>
        <div class="col-md-6 mb-4">
            {{ form_row(form.fabriquant, {'attr':{'placeholder':'Fabriquant *'}, 'label':false}) }}
        </div>
        <div class="col-md-6 mb-4">
            {{ form_row(form.telephone, {'attr':{'placeholder':'Téléphone *'}, 'label':false}) }}
        </div>
        <div class="col-md-6 mb-4">
            {{ form_row(form.description, {'attr':{'placeholder':'description *'}, 'label':false}) }}
        </div>
        <div class="col-md-12 mb-4">
            {{ form_row(form.adresse, {'attr':{'placeholder':'Adresse *'}, 'label':false}) }}
        </div>
        <div class="col-md-4 mb-4">
            {{ form_row(form.tva, {'label':'Soumis à la TVA'}) }}
        </div>

        {{ form_rest(form) }}
    </div>
</div>