{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block produit %}active{% endblock %}
{% block all_produits %}active{% endblock %}

{% block body %}
<div class="col-lg-6 mt-4 pb-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa-brands fa-product-hunt mr-2"></i>
        {{ "Détails Produit"|trans }}
    </h3>

    <table class="table table-success-light table-bordered text-center table-hover table-striped w-100">
        <tbody>

            <tr>
                <th>{{ 'Code Produit'|trans }}</th>
                <td>{{ produit.reference }}</td>
            </tr>
            <tr>
                <th>{{ 'Desigantion'|trans }}</th>
                <td>{{ produit.desigantion }}</td>
            </tr>
            <tr>
                <th>{{ 'Prix Cession'|trans }}</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>{{ 'Prix Public'|trans }}</th>
                <td>{{ produit.prixpublic }}</td>
            </tr>
            <tr>
                <th>{{ 'Commande minimum'|trans }}</th>
                <td>{{ produit.mincommande }}</td>
            </tr>
            <tr>
                <th>{{ 'Fabricant'|trans }}</th>
                <td>{{ produit.fabriquant }}</td>
            </tr>
            <tr>
                <th>{{ 'TVA'|trans }}</th>
                <td>{{ produit.tva ? 'OUI' : 'NON' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-6 offset-md-3 mt-4 py-3 fond-7">
        <div class="centrer">
            <a id="{{ produit.id }}" onclick="load({{ produit.id }})" class="btn btn-success-light text-green mr-3" href="{{ path('produit_index') }}">
                <i class="fa fa-undo"></i>
                {{ 'Retour'|trans }}
            </a>
            <a class="btn btn-success mr-3" href="{{ path('produit_edit', {'id': produit.id}) }}">
                <i class="fa fa-edit"></i> Modifier</a>
            {{ include('produit/admin/_delete_form.html.twig') }}
        </div>
    </div>

</div>
<div class="col-lg-6 mt-4 pb-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa-brands fa-product-hunt mr-2"></i>
        {{ "Liste des fournisseurs ayant ce produit"|trans }}
    </h3>


    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>{{'Désignation'|trans }}</th>
                <th>{{'Adresse'|trans }}</th>
                <th>{{'Email'|trans }}</th>
                <th>{{'Pays'|trans }}</th>
                <th>{{'Téléphone'|trans }}</th>
                <th>{{'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for fournisseur in produit.fournisseurs %}
            <tr>
                <td data-label="Désignation">{{ fournisseur.designation }}</td>
                <td data-label="Adresse">{{ fournisseur.adresse }}</td>
                <td data-label="Email">{{ fournisseur.email }}</td>
                <td data-label="Pays">{{ fournisseur.pays }}</td>
                <td data-label="Téléphone">{{ fournisseur.telephone }}</td>
                <td data-label="actions" class="text-nowrap">
                    <a id="{{ fournisseur.id }}" onclick="load({{ fournisseur.id }})" href="{{ path('fournisseur_show', {'id': fournisseur.id}) }}" title="{{'Voir'|trans}}" class="btn btn-success">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}