{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block produit %}active{% endblock %}
{% block all_produits %}active{% endblock %}

{% block body %}
<div class="col-lg-6 mt-4 pb-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa-brands fa-product-hunt mr-2"></i>
        {{ "Détails Produit"|trans }}
    </h3>

    <table class="table table-success-light table-bordered text-center table-hover table-striped w-100">
        <tbody>

            <tr>
                <th>{{ 'Code Produit'|trans }}</th>
                <td>{{ produit.reference }}</td>
            </tr>
            <tr>
                <th>{{ 'Desigantion'|trans }}</th>
                <td>{{ produit.desigantion }}</td>
            </tr>
            <tr>
                <th>{{ 'Prix Cession'|trans }}</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>{{ 'Prix Public'|trans }}</th>
                <td>{{ produit.prixpublic }}</td>
            </tr>
            <tr>
                <th>{{ 'Commande minimum'|trans }}</th>
                <td>{{ produit.mincommande }}</td>
            </tr>
            <tr>
                <th>{{ 'Fabricant'|trans }}</th>
                <td>{{ produit.fabriquant }}</td>
            </tr>
            <tr>
                <th>{{ 'TVA'|trans }}</th>
                <td>{{ produit.tva ? 'OUI' : 'NON' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-4 offset-md-3 mt-4 py-3 fond-7">
        <div class="centrer">
{#            <a class="btn btn-success mr-3" href="{{ path('produit_edit', {'id': produit.id}) }}">#}
{#                <i class="fa fa-edit"></i> Modifier</a>#}
            <a id="{{ produit.id }}" onclick="load({{ produit.id }})" class="btn btn-success-light text-green" href="{{ path('produit_index') }}">
                <i class="fa fa-undo"></i>
                {{ 'Retour'|trans }}
            </a>
        </div>
    </div>

</div>
{% endblock %}
