{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block commande %}active{% endblock %}
{% block suivi %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-money-bill mr-2"></i>
            {{ "Détails commande"|trans }}
        </h3>

        <div class="row justify-content-end">

            <div class="col-lg-6">
                <table class="table table-success-light table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'Numero Commande'|trans }}</th>
                        <th>{{ 'Date'|trans }}</th>
                        <th>{{ 'Client'|trans }}</th>
                        {% if commande.paiement %}
                            <th>{{ 'Date de Paiement'|trans }}</th>
                            <th>{{ 'Type'|trans }}</th>
                        {% else %}
                            <th>{{ 'Type'|trans }}</th>
                        {% endif %}

                    </tr>
                    </thead>
                    <tbody>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.date|date('d/m/Y') }}</td>
                    <td>{{ commande.user.nom }}</td>
                    {% if commande.paiement %}
                        <td>{{ commande.paiement ? paiement.date|date('d/m/Y') : '' }}</td>
                        <td>
                            {% if commande.paiement.type == "Espèce" %}
                                Espece
                            {% else %}
                                {{ commande.paiement ? commande.paiement.type : '' }} :
                                {{ commande.paiement ? commande.paiement.banque : '' }} <br>
                                N°: {{ commande.paiement ? commande.paiement.numero : '' }}
                            {% endif %}
                        </td>
                    {% else %}
                        <td>  Credit </td>
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
        {% set total=0 %}
        {% set reduction=0 %}
        {% set tva=0 %}
        <table class="table table-success-light table-bordered table-hover table-striped w-100">
            <thead>
            <tr>
                <th>Code Produit</th>
                <th>{{ 'Désignation'|trans }}</th>
                <th>{{ 'Quantité Commandée'|trans }}</th>
                <th>{{ 'Prix Cession'|trans }}</th>
                <th>{{ 'Réduction'|trans }}</th>
                <th>{{ 'TVA'|trans }}</th>
                <th>{{ 'Prix Public'|trans }}</th>
                <th>{{ 'Montant'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for commandeproduit in commandeproduits %}
                {% set reductionproduit = 0 %}
                <tr>
                    <td> {{ commandeproduit.produit.id }} </td>
                    <td>{{ commandeproduit.produit.desigantion }} </td>
                    <td> {{ commandeproduit.quantite }} </td>
                    <td>
                        {{ commandeproduit.produit.prix|number_format(0, '' , ' ') }}

                    </td>
                    <td>
                        {% if commandeproduit.promotion is not null %}
                            {% if commandeproduit.promotion.reduction is not null %}
                                {% set reductionproduit =  commandeproduit.quantite * commandeproduit.session * commandeproduit.promotion.reduction /100 %}

                                {% set reduction =  reduction + reductionproduit %}
                                <span class="badge badge-danger">
                                    -{{ commandeproduit.session * commandeproduit.promotion.reduction /100 }} F
                            </span>
                            {% else %}
                                -
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if commandeproduit.produit.tva == 1 %}
                            {% set tva = tva + (((commandeproduit.quantite * commandeproduit.session) - reductionproduit) * 0.1925) %}
                            {% if commandeproduit.promotion is not null %}
                                {% if commandeproduit.promotion.reduction is not null %}
                                    {{ (commandeproduit.session - (commandeproduit.session * commandeproduit.promotion.reduction /100)) * 0.1925 }}
                                {% else %}
                                    {{ commandeproduit.session  * 0.1925 }}
                                {% endif %}
                            {% else %}
                                {{ commandeproduit.session  * 0.1925 }}
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ commandeproduit.produit.prixpublic|number_format(0, '' , ' ') }}</td>
                    <td>
                        {{ (commandeproduit.quantite * commandeproduit.produit.prix)|number_format(0, '' , ' ') }}
                        {% set total = total + (commandeproduit.quantite * commandeproduit.produit.prix) %}
                    </td>


                </tr>

            {% else %}
                <tr>
                    <td colspan="10">{{ 'Aucune commande'|trans }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="7" class="text-right text-bold">
                    {{ "Total HT"|trans }}
                </td>
                <td class=" text-bold">
                    <span id="" class="text-nowrap">{{ total|number_format(0, '' , ' ') }}</span>
                </td>
            </tr>
            {% if reduction != 0 %}
                <tr>
                    <td colspan="7" class="text-right">
                        {{ "Total Réduction"|trans }}
                    </td>
                    <td>
                        <span id="" class="text-nowrap">{{ reduction|number_format(0, '' , ' ') }}</span>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="7" class="text-right">
                    {{ "Total TVA"|trans }}
                </td>
                <td>
                    <span id="" class="text-nowrap">{{ tva|number_format(0, '' , ' ') }}</span>
                </td>
            </tr>

            <tr>
                <td colspan="7" class="text-right text-bold">
                    {{ "Net à payer"|trans }}
                </td>
                <td class="text-bold">
                    <span id="total" class="text-nowrap">{{ (total+ tva -reduction)|number_format(0, '' , ' ') }}</span>
                </td>
            </tr>
            {#        /***Conversion prix en lettre **/#}
            <tr>
                <td colspan="10" class="text-right">
                    <span id="total" class="text-bold"></span>
                    {{'Arrêtée la présente à la somme de'|trans}} <b id="conversion"></b> <b>francs CFA TTC</b>
                </td>
            </tr>
            {#/***** end*****/#}
            </tbody>
        </table>
    </div>

    {% if commande.versements|length != 0 %}
        <div class="container mt-4 fond-7">
            <h3 class="mt-4 mb-5 text-bold">
                <i class="fa fa-shopping-cart mr-2"></i>
                {{ "Historiques des versements"|trans }}
            </h3>
            <table class="table table-success-light table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>{{ 'numero versement'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                    <th>{{ 'Montant'|trans }}</th>

                </tr>
                </thead>
                <tbody>
                {% for versement in  commande.versements %}
                    <tr>
                        <td>{{ versement.id }}</td>
                        <td>{{ versement.date|date('d/m/Y') }}</td>
                        <td>{{ versement.montant|number_format(0, '' , ' ') }}</td>
                    </tr>
                {% else %}
                {% endfor %}
                <tr>
                    <td colspan="2" class="text-right text-nowrap">{{ 'Total versement'|trans }}</td>
                    <td>{{ commande.versement|number_format(0, '' , ' ') }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-right">{{ 'Montant Restant'|trans }}</td>
                    <td>{{ (commande.montant - commande.versement)|number_format(0, '' , ' ') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="container mt-4 mb-5 pt-3 pb-3 fond-7">
        <div class="centrer">
            <div class="row">

                <a id="print" onclick="load('print')" href="{{ path('commande_panier_print_Detail',{'commande': commande.id }) }}"
                   class="btn btn-success float-end">
                    <i class="fa fa-print"></i>
                    {{ "Imprimer"|trans }}
                </a>


            </div>
        </div>
    </div>

{% endblock %}