{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block commande %}active{% endblock %}
{% block suivi %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-shopping-cart mr-2"></i>
            {{ "Suivi des commandes"|trans }}
        </h3>
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    {{ 'Validation paiement'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_validation_credit') }}">
                    {{'Validation crédit'|trans}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_credit') }}">
                    {{'Commandes à crédit'|trans}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_history') }}">
                    {{'Commandes déjà payées'|trans}}
                </a>
            </li>
        </ul>

        <table class="table table-success-light table-bordered table-hover table-striped w-100 mt-4" id="liste">
            <thead>
            <tr>
                <th>{{'Numero Commande'|trans}}</th>
                <th>{{ 'Date'|trans }}</th>
                <th>{{ 'Client'|trans }} </th>
                <th>{{ 'Montant'|trans }}</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.date|date('d/m/Y') }}</td>
                    <td> {{ commande.user.nom }}</td>
                    <td>{{ commande.montant|number_format(0, '' , ' ') }}</td>
                    <td>
                        <a id="{{ commande.id }}" onclick="load({{ commande.id }})" href="{{ path('commande_panier_paiement', {'commande' : commande.id}) }}" class="btn btn-success">
                            <i class="fa fa-gears"></i>
                            {{ 'Traitement'|trans }}
                        </a>
                    </td>


                </tr>

            {% else %}
                <tr>
                    <td colspan="5">{{ 'Aucune commande'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
