{% extends 'commande.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block produit %}active{% endblock %}

{% block body %}
<div class="container mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa-brands fa-product-hunt mr-2"></i>
        {{ "Détails Produit"|trans }}
    </h3>

    <table class="table table-success-light table-bordered table-hover table-striped w-100">
        <tbody>

            <tr>
                <th>Code Produit</th>
                <td>{{ produit.reference }}</td>
            </tr>
            <tr>
                <th>Desigantion</th>
                <td>{{ produit.desigantion }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Mincommande</th>
                <td>{{ produit.mincommande }}</td>
            </tr>
            <tr>
                <th>Fabriquant</th>
                <td>{{ produit.fabriquant }}</td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
