{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block finance %}active{% endblock %}
{% block financement %}active{% endblock %}
{% block financement_index %}active{% endblock %}
{% block body %}
<div class="container mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-money-bill mr-2"></i>
        {{ "Listes des financements"|trans }}
    </h3>


    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>{{ 'Date'|trans }}</th>
                <th>{{ 'Compte'|trans }}</th>
                <th>{{ 'Compte Interêt'|trans }}</th>
                <th>{{ 'Motif'|trans }}</th>
                <th>{{ 'Montant'|trans }}</th>
                <th>{{ 'Type'|trans }}</th>
                <th>{{ 'Banque'|trans }}</th>
                <th>{{ 'Numero'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for financement in financements %}
            <tr>
                <td data-label="Date">{{ financement.date ? financement.date|date('d/m/Y') }}</td>
                <td data-label="Provenance">{{ financement.compte }}</td>
                <td data-label="Provenance">{{ financement.compteinteret }}</td>
                <td data-label="Motif">{{ financement.motif }}</td>
                <td data-label="Montant">{{ financement.montant|number_format(0, '' , ' ') }}</td>
                <td data-label="Type">{{ financement.Type }}</td>
                <td data-label="Banque">{{ financement.banque ? financement.banque.nom:'' }}</td>
                <td data-label="Numero">{{ financement.numero }}</td>
                <td data-label="actions">
                    <a title="{{'Voir'|trans}}" class="btn btn-success" id="{{ financement.id }}" onclick="load({{ financement.id }})" href="{{ path('financement_show', {'id': financement.id}) }}"><i class="fa fa-eye"></i></a>
                    <a title="{{'Modifier'|trans}}" class="btn btn-success-light" href="{{ path('financement_edit', {'id': financement.id}) }}"><i class="fa fa-edit"></i></a>
                    {{ include('financement/_delete_form.html.twig') }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}