{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Liste des absences"|trans }} - GNT Pharma {% endblock %}
{% block discipline %}active{% endblock %}
{% block absence %}active{% endblock %}
{% block employe %}active{% endblock %}
{% block absence_index %}active{% endblock %}

{% block body %}
<div class="col-lg-10 mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fas fa-calendar-alt me-2"></i>
        {{ "Absences"|trans }}
    </h3>
    <a href="{{ path('absence_new') }}" class="btn btn-success mb-3"> Nouvel absence</a>
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('absence_admin_attente') }}">
                {{'En attente de justification'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('absence_admin_accepter') }}">
                {{ 'Accepter'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('absence_admin_refuser') }}">
                {{ 'Réfuser'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">
                {{ 'Toutes les absences'|trans }}
            </a>
        </li>
    </ul>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black mb-5">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message|trans }}
        </div>
    {% endfor %}

    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>{{ 'Matricule'|trans }}</th>
                <th>{{ 'Employé'|trans }}</th>
                <th>{{ 'Date(s)'|trans }}</th>
                <th>{{ 'Statut'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for absence in absences %}
                <tr>
                    <td>{{ absence.employe.matricule }}</td>
                    <td>{{ absence.employe.nom }} {{ absence.employe.prenom }}</td>
                    <td>
                        {{ absence.dateAbsence|date('d/m/Y') }}
                        {% if absence.dateAbsence != absence.dateFin %}
                        au {{ absence.dateFin|date('d/m/Y') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if absence.status == 0 %}
                            <span class="badge badge-warning">En attente de justification</span>
                        {% else %}
                            {% if absence.justifier is null %}
                                 <span class="badge badge-info">En attente de validation</span>
                            {% elseif absence.justifier == true %}
                                <span class="badge badge-success">{{ "justifiée"|trans }}</span>
                            {% else %}
                                <span class="badge badge-danger">{{ "Refusée"|trans }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('absence_show', {'id': absence.id} ) }}" class="btn btn-success"><i class="fas fa-eye"></i>Details</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Aucune absence enregistrée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
