{% extends 'rh.html.twig' %}
{% block title %} {{ "Nouvelle absence"|trans }} - GNT Pharma {% endblock %}
{% block discipline %}active{% endblock %}
{% block employe %}active{% endblock %}
{% block depense %}active{% endblock %}
{% block absence_index  %}active{% endblock %}

{% block body %}
    {{ include('absence/admin/_form.html.twig') }}
    <div class="col-md-3 offset-md-3 mt-4 pt-3 fond-7">
        <div class="centrer">
            {#                <div class="row">#}
            <button type="button" class="btn btn-shadow btn-green btn-normal mb-3 mr-3" id="send"
                    onclick="envoie()">
                <i class="fa fa-save"></i>
                {{ 'Enregistrer'|trans }}
            </button>

            <button type="reset" class="btn btn-shadow btn-danger btn-normal mb-3">
                <i class="fa fa-delete-left"></i>
                {{ 'Effacer'|trans }}
            </button>
            {{ form_rest(form) }}
            {#                </div>#}
        </div>
        {{ form_end(form) }}
    </div>

    {{ form_end(form) }}

{% endblock %}
