{% extends 'admin.html.twig' %}
{% block body %}
{{ form_start(form, {'attr': {'id': 'form'}}) }}

<div class="col-lg-5 offset-lg-2 mt-4 fond-7 pb-5 pt-3 px-5">
    <h4 class="mb-3">
        <i class="fa-brands fa-product-hunt mr-2"></i><i class="fa fa-plus mr-2"></i>
        {{ 'Nouvelle sanction'|trans }}
    </h4>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message|trans }}
        </div>
    {% endfor %}

    <div class="row">

        <div class="col-12 mb-4">
            {{ form_row(form.motif, {'attr': {'placeholder': 'Entrez le motif du refus *'}, 'label': false}) }}
        </div>
        <div class="col-12 mb-4">
            {{ form_row(form.type, {'attr': {'placeholder': 'Sélectionnez le type de sanction *'}, 'label': false}) }}
        </div>
        {{ form_rest(form) }}
    </div>
</div>
    <div class="col-md-3 offset-md-3 mt-4 pt-3 fond-7">
        <div class="centrer">
            <button type="submit" class="btn btn-shadow btn-green btn-normal mb-3 mr-3" id="send">
                <i class="fa fa-save"></i>
                {{ 'Envoyer la notification'|trans }}
            </button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}