<!DOCTYPE html>

<title>Compte</title>

{% block body %}
    <h1>Compte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compte.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ compte.numero }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('compte_index') }}">back to list</a>

    <a href="{{ path('compte_edit', {'id': compte.id}) }}">edit</a>

    {{ include('compte/_delete_form.html.twig') }}
{% endblock %}
