{% extends 'commande.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block commande %}active{% endblock %}

{% block body %}<div class="container mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-shopping-cart mr-2"></i>
        {{ "Details commande"|trans }}
    </h3>

    <a href="{{ path('commande_panier_history', {'_locale': 'fr'}) }}" class="btn btn-success mb-3"><i class="fa fa-chevron-left"></i> {{ "Retour"|trans }} </a>

    <div class="row justify-content-end">
        <div class="col-lg-4">
    <table class="table table-success-light table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Numero Commande</th>
            <th>Date de Livraison</th>
        </tr>
        </thead>
        <tbody>
        <td>{{ commande.date|date('d/m/Y') }}</td>
        <td>{{ commande.id }}</td>
        <td> </td>
        </tbody>
    </table>
        </div>
    </div>
{% set total=0 %}
{% set reduction=0 %}
    <table class="table table-success-light table-bordered table-hover table-striped w-100">
        <thead>
        <tr>
            <th>Code Produit</th>
            <th>Desigantion</th>
            <th>Quantite Commandee</th>
            <th>Quantite Livree</th>
            <th>Quantite Restante</th>
            <th>Prix Cession</th>
            <th>Prix Public</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        {% for commandeproduit in commandeproduits %}
            {% set ug = 0 %}
            <tr>
                <td> {{ commandeproduit.produit.id }} </td>
                <td>{{ commandeproduit.produit.desigantion }} </td>
                <td>
                    {{ commandeproduit.quantite }}
                    {% if commandeproduit.promotion is not null %}
                        {% if commandeproduit.promotion.premier is not null %}
                            {% if commandeproduit.quantite / commandeproduit.promotion.troisieme >= 1 %}

                                {% set unite = (commandeproduit.quantite / commandeproduit.promotion.troisieme)|round(0, 'floor') %}
                                {% set ug = ug + unite * commandeproduit.promotion.ugtroisieme %}
                                {% set suite = commandeproduit.quantite - unite * commandeproduit.promotion.troisieme %}

                                {% if suite / commandeproduit.promotion.deuxieme >= 1 %}
                                    {% set unite = (suite / commandeproduit.promotion.deuxieme)|round(0, 'floor') %}
                                    {% set ug = ug + unite * commandeproduit.promotion.ugdeuxieme %}
                                    {% set suite = suite - unite * commandeproduit.promotion.deuxieme %}

                                    {% if suite / commandeproduit.promotion.premier >= 1 %}
                                        {% set unite = (suite / commandeproduit.promotion.premier)|round(0, 'floor') %}
                                        {% set ug = ug + unite * commandeproduit.promotion.ugpremier %}

                                    {% endif %}

                                {% elseif suite / commandeproduit.promotion.premier >= 1 %}
                                    {% set unite = (suite / commandeproduit.promotion.premier)|round(0, 'floor') %}
                                    {% set ug = ug + unite * commandeproduit.promotion.ugpremier %}

                                {% endif %}

                            {% elseif commandeproduit.quantite / commandeproduit.promotion.deuxieme >= 1 %}


                                {% set unite = (commandeproduit.quantite / commandeproduit.promotion.deuxieme)|round(0, 'floor') %}
                                {% set ug = ug + unite * commandeproduit.promotion.ugdeuxieme %}
                                {% set suite = commandeproduit.quantite - unite * commandeproduit.promotion.deuxieme %}

                                {% if suite / commandeproduit.promotion.premier >= 1 %}
                                    {% set unite = (suite / commandeproduit.promotion.premier)|round(0, 'floor') %}
                                    {% set ug = ug + unite * commandeproduit.promotion.ugpremier %}

                                {% endif %}

                            {% elseif commandeproduit.quantite / commandeproduit.promotion.premier >= 1 %}

                                {% set unite = (commandeproduit.quantite / commandeproduit.promotion.premier)|round(0, 'floor') %}
                                {% set ug = ug + unite * commandeproduit.promotion.ugpremier %}

                            {% endif %}
                            <span class="badge badge-danger">
                                    +{{ ug }} U.G.
                            </span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
{#                {{ commande.livraison ? commance.quantitelivrer : '' }}#}
                </td>
                <td> </td>
                <td>
                    {{ commandeproduit.produit.prix|number_format(0, '' , ' ') }}
                    {% if commandeproduit.promotion is not null %}
                        {% if commandeproduit.promotion.reduction is not null %}
                            {% set reduction =  reduction + (commandeproduit.quantite * commandeproduit.session * commandeproduit.promotion.reduction /100) %}
                            <span class="badge badge-danger">
                                    -{{ commandeproduit.promotion.reduction }}%
                            </span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ commandeproduit.produit.prixpublic|number_format(0, '' , ' ') }}</td>
                <td>
                    {{ (commandeproduit.quantite * commandeproduit.produit.prix)|number_format(0, '' , ' ') }}
                    {% set total = total + (commandeproduit.quantite * commandeproduit.produit.prix) %}
                </td>



            </tr>

        {% else %}
            <tr>
                <td colspan="8">Aucune commande</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="7" class="text-right">
                {{ "Total"|trans }}
            </td>
            <td>
                <span id="total">{{ total|number_format(0, '' , ' ') }}</span>
            </td>
        </tr>
        {% if reduction != 0 %}
            <tr>
                <td colspan="7" class="text-right">
                    {{ "Réduction"|trans }}
                </td>
                <td>
                    <span id="total">{{ reduction|number_format(0, '' , ' ') }}</span>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="7" class="text-right">
                {{ "Net à payer"|trans }}
            </td>
            <td>
                <span id="total">{{ (total-reduction)|number_format(0, '' , ' ') }}</span>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="container mt-4 mb-5 pt-3 pb-3 fond-7">
        <div class="centrer">
            <div class="row">

                    <a href="#" class="btn btn-success float-end">
                        <i class="fa fa-print"></i> {{ "Imprimer"|trans }}
                    </a>


            </div>
        </div>
    </div>

{% endblock %}
