{% extends 'commande.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block commande %}active{% endblock %}

{% block body %}
<div class="container-fluid mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-shopping-cart mr-2"></i>
        {{ "Votre Panier"|trans }}
    </h3>
    {% if panier|length > 0 %}
    <a href="{{ path("commande_panier_choix_paiement", {'commande': 0}) }}" class="btn btn-success float-right mb-3"
       title="Valider la commande">
        <i class="fa fa-check"></i>
        {{ 'Valider la commande'|trans }}
    </a>
{% endif %}
    <table class="table table-success-light table-bordered table-hover table-striped w-100">
        <thead>
        <tr>
            <th>{{ 'Reference'|trans }}</th>
            <th>{{ 'Designation'|trans }}</th>
            <th>{{ 'Prix Cession'|trans }}</th>
            <th>{{ 'Reduction'|trans }}</th>
            <th>{{ 'TVA'|trans }}</th>
            <th>{{ 'Prix Public'|trans }}</th>
            <th>{{ 'Commande'|trans }}<br> {{ 'Minimum'|trans }}</th>
            <th>{{ 'Quantite'|trans }}</th>
            <th>{{ 'Total'|trans }}</th>

            <th>{{ 'actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% set reduction=0 %}
        {% set tva=0 %}
        {% for produit in panier %}
            {% set reductionproduit = 0 %}
            <tr>
                <td>{{ produit['produit'].reference }}</td>
                <td>{{ produit['produit'].desigantion }}</td>
                <td>{{ produit['produit'].prix }}</td>
                <td>
                    {% if produit['produit'].promotion is not null %}
                        {% if produit['promotion'] != 0 %}
                            {% set reductionproduit =  produit['produit'].quantite * produit['produit'].prix * produit['promotion'] /100 %}

                            {% set reduction =  reduction + reductionproduit %}
                            <span class="badge badge-danger">
                                    -{{ produit['produit'].prix * produit['promotion'] /100 }} F
                            </span>
                        {% else %}
                            -
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if produit['produit'].tva == 1 %}
                        {% set tva = tva + (((produit['produit'].quantite * produit['produit'].prix) - reductionproduit) * 0.1925) %}
                        {{ (produit['produit'].prix - (produit['produit'].prix * produit['promotion'] /100)) * 0.1925 }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ produit.produit.prixpublic }}</td>
                <td>{{ produit['produit'].mincommande }}</td>

                    <td class="text-center" id="tdprod{{ produit.produit.id }}">


                        {{ produit['produit'].quantite }}



                    </td>
                    <td class="text-center" id="soustotal{{ produit.produit.id }}">
                        {{ (produit['produit'].prix * produit['produit'].quantite)|number_format(0, '' , ' ') }}
                        {% set total = total + (produit.produit.prix * produit['produit'].quantite) %}
                        {#<div class="input-group align-center" style="width:100px">
                            <input type="number" id="text{{ produit.produit.id }}" class="form-control"
                                   style="padding:0 10px">
                            <div class="input-group-append">
                                            <span class="input-group-text bg-primaire text-light"
                                                  onclick="numerochambre({{ produit.produit.id }})"
                                                  id="bt{{ produit.produit.id }}">
                                                <i class="fa fa-save"></i>
                                            </span>
                            </div>
                        </div>#}

                    </td>
                    <td>
                        <div style="display: inline;" id="btnaction{{ produit.produit.id }}">
                            <button onclick="edit({{ produit.produit.id }}, {{ produit.produit.quantite }}, {{ produit.produit.mincommande }}, {{ produit.produit.prix }}, {{ produit.produit.stock }})"
                                    class="btn btn-success" title="{{ 'Modifier quantite'|trans }}">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>


                        <a href="{{ path("commande_delete", {id: produit.produit.id}) }}" class="btn btn-danger" title="{{ 'Supprimer cet article'|trans }}">
                            <i class="fa fa-trash"></i>
                        </a>

                    </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="10">{{ 'Aucun produit dans le panier'|trans }}</td>
            </tr>
        {% endfor %}
        {% if panier|length > 0 %}
        <tr class="text-bold">
            <td colspan="8" class="text-right">
                {{ "Total"|trans }}
            </td>
            <td class="text-center">
                <span id="total">{{ total|number_format(0, '' , ' ') }}</span>
                <input type="hidden" value="{{ total }}" id="totaltamp"/>
            </td>
            <td rowspan="4">

                    <a href="{{ path('commande_delete_all') }}" class="btn btn-danger" title="vider le panier">
                        Vider le panier <i class="fa fa-trash-alt"></i>
                    </a>

            </td>
        </tr>
        <tr>
            <td colspan="8" class="text-right">
                {{ "Total Reduction"|trans }}
            </td>
            <td class="text-center">
                <span id="total">{{ reduction|number_format(0, '' , ' ') }}</span>
                <input type="hidden" value="{{ reduction }}" id="totaltamp"/>
            </td>
        </tr>
        <tr>
            <td colspan="8" class="text-right">
                {{ "Total TVA"|trans }}
            </td>
            <td class="text-center">
                <span id="total">{{ tva|number_format(0, '' , ' ') }}</span>
                <input type="hidden" value="{{ tva }}" id="totaltamp"/>
            </td>
        </tr>
        <tr class="text-bold">
            <td colspan="8" class="text-right">
                {{ "Net à payer"|trans }}
            </td>
            <td class="text-center">
                <span id="total">{{ (total +tva-reduction)|number_format(0, '' , ' ') }}</span>
                <input type="hidden" value="{{ total }}" id="totaltamp"/>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    {% if panier|length > 0 %}
    <a href="{{ path("commande_panier_choix_paiement", {'commande': 0}) }}" class="btn btn-success mb-5"
       title="Valider la commande">
        <i class="fa fa-check"></i>
        {{ 'Valider la commande'|trans }}
    </a>
    {% endif %}

    <input type="hidden" value="ok" id="tampon"/>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('produit_new') }}">
            {{'Créer un produit'|trans}}
        </a>
    {% endif %}
</div>
    {% block scripts %}
        <script>
            function edit(id, quantite, min, prix, st) {// fonction initialisation modification quantite dans panier
                if ($('#tampon').val() == 'ok') {// verification si auccun autre ligne est entrain d' etre modifier
                    $('#tdprod' + id).html("<div class=\"input-group align-center\" style=\"width:100px\">\n" +
                        "                            <input type=\"number\"  value='" + quantite + "'  id=\"text" + id + "\" class=\"form-control\"\n" +
                        "                                   style=\"padding:0 10px\">\n" +
                        "                            <div class=\"input-group-append\">\n" +
                        "                                            <span class=\"input-group-text bg-success text-light\"\n" +
                        "                                                  onclick=\"editprod(" + id + "," + min + "," + quantite +"," + prix + "," + st + ")\"\n" +
                        "                                                  id=\"bt" + id + "\">\n" +
                        "                                                <i class=\"fa fa-save\"></i>\n" +
                        "                                            </span>\n" +
                        "                            </div>\n" +
                        "                        </div>");
                    $('#btnaction' + id).html("<button onclick=\"cancel(" + id + "," + quantite + "," + min +"," + prix + "," + st + ")\" class=\"btn bg-warning\" title=\"Annuler modification\">\n" +
                        "                            <i class=\"fa fa-undo\"></i>\n" +
                        "                        </button>");
                    $('#tampon').val('no');
                } else alert('Terminer la premiere operation' | trans);
            }

            function editprod(id, mincom, quantite, prix, st) {
                if (quantite != $('#text' + id).val()) {
                    var reg = new RegExp("^[0-9]+$");
                    let newval= $('#text' + id).val();
                    let totale = $('#totaltamp').val();
                    if (reg.test(newval) && mincom <= newval) {
                        if (st >= $('#text' + id).val()){
                            // $('#btnaction' + id).html("<button class=\"btn bg-warning\"><i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i></button>");
                            $.ajax({
                                type: "POST",
                                url: "{{ path('commande_edit') }}",
                                data: "prod=" + id + "&quantite=" + newval,
                                success: function (data) {
                                    if (data['id'] == 'ok') {
                                        $('#tdprod' + id).html(newval);
                                        $('#soustotal' + id).html( prix * newval);// changement de la valeur sous total
                                        if(newval > quantite){//changement de la valeur total
                                            $('#total').html( Number(totale) + prix * (newval - quantite));
                                            $('#totaltamp').val(Number(totale) + prix * (newval - quantite));
                                        }else{
                                            $('#total').html(Number(totale) - prix * (quantite - newval));
                                            $('#totaltamp').val(Number(totale) - prix * (quantite - newval));
                                        }
                                        $('#btnaction' + id).html("<button onclick=\"edit(" + id + "," + data['panier'] + "," + mincom + "," + prix + "," + st + ")\" class=\"btn btn-success\" title=\"Modifier quantite\">\n" +
                                            "                            <i class=\"fa fa-edit\"></i>\n" +
                                            "                        </button>");
                                        $('#tampon').val('ok');
                                    } else {
                                        alert("{{ 'verifier la quantite saisie'|trans }}")
                                    }
                                },
                                error: function () {
                                    alert("{{ 'La requête n a pas abouti'|trans }}");
                                }
                            });
                        } else {
                            var mess = "{{ 'Maximum disponible'|trans }}  " + st;
                            alert(mess);
                        }
                    } else {
                        var mess = "{{ 'Commande minimun'|trans }} " + mincom;
                        alert(mess);
                    }

                }
            }

            function cancel(id, quantite, min, prix, st) {
                $('#tdprod' + id).html(quantite);
                $('#btnaction' + id).html("<button onclick=\"edit(" + id + "," + quantite + "," + min +"," + prix + "," + st + ")\" class=\"btn btn-success\" title=\"Modifier quantite\">\n" +
                    "                            <i class=\"fa fa-edit\"></i>\n" +
                    "                        </button>");
                $('#tampon').val('ok');
            }
            {#function focu(id, quantite, min) {#}
            {#    $('#tamp').val(id);#}
            {#}#}

            {#function nofocu(id, quantite, min) {#}
            {#    $('#tamp').val('');#}
            {#}#}
            {#function validchambre() {#}
            {#    var id = $('#tampon').val();#}
            {#    if (id != '' && window.event.keyCode == 13) {//validation dela chambre par appui sur bouton entrer#}
            {#        var reg = new RegExp("^[0-9]+$");#}
            {#        if (reg.test($('#text' + id).val())) {#}
            {#            $('#bt' + id).html("<img src='{{ asset('images/ajax-loader.gif')}}' width='20' />");#}
            {#            $.ajax({#}
            {#                type: "POST",#}
            {#                url: "{{ path('') }}",#}
            {#                data: "elv=" + id + "&numero=" + $('#text' + id).val(),#}
            {#                success: function(data) {#}
            {#                    if (data['id'] == 'ok') {#}
            {#                        $('#tdnumch' + id).html($('#text' + id).val());#}
            {#                    } else {#}
            {#                        alert("{{'Une autre chambre du même hôtel possède déjà ce numéro'|trans }}");#}
            {#                        $('#bt' + id).html("<i class='fa fa-save'></i>");#}
            {#                    }#}
            {#                },#}
            {#                error: function() {#}
            {#                    alert("{{'La requête n a pas abouti'|trans }}");#}
            {#                }#}
            {#            });#}
            {#        } else alert("{{'invalide'|trans }}");#}
            {#    }#}
            {#}#}
        </script>

    {% endblock %}
{% endblock %}

