{% extends 'admin.html.twig' %}
{% block title %} {{ "Livraison"|trans }} - GNT Pharma {% endblock %}
{% block Stock %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-shopping-cart mr-2"></i>
            {{ "Liste des commandes pour livraison"|trans }}
        </h3>
        <div class="row">
            <div class="col-lg-12">
                <h5 class="mt-3 mb-2 text-bold">
                    {{ "Commande avec reste à livrer"|trans }}
                </h5>
                <table class="table table-success-light table-bordered table-hover table-striped w-100" id="list">
                    <thead>
                    <tr>
                        <th>no commande </th>
                        <th>Date</th>
                        <th>Client</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for livrer in livrers %}
                        <tr>
                            <td>{{ livrer.commande.id }}</td>
                            <td>{{ livrer.commande.date|date('d/m/Y') }}</td>
                            <td>{{ livrer.commande.user.nom }}</td>
                            <td>
                                <a class="btn btn-success" href="{{ path('avoir_new_reste', {'id': livrer.commande.id}) }}"><i class="fa fa-gears"></i> Traitement</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucune commande</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
