{% extends 'employe.html.twig' %}
{% block title %} {{ "Types de sanction"|trans }} - GNT Pharma {% endblock %}
{% block employe %}active{% endblock %}
{% block sanction %}active{% endblock %}
{#{% block all_type_conges %}active{% endblock %}#}
{% block body %}

<div class="container mt-4 fond-7 pb-5 pt-3 px-5">
    <h4 class="text-bold mb-5">
        <i class="fa-solid fa-gears fa-lg"></i>
        {{ 'Configuration du système'|trans }}
    </h4>
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('departement_index') }}">
                {{'Département'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('poste_index') }}">
                {{'Poste'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('type_conge_index') }}">
                {{'Permission'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('type_decision_index') }}">
                {{'Absence'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                {{'Sanction'|trans}}
            </a>
        </li>
    </ul>
    <h5>{{ "Types de decision"|trans }}</h5>
    <div class="tab-content">
        <a href="{{ path('type_decision_new') }}" class="btn btn-success mb-4"><i class="fas fa-plus"></i>Nouveau</a>
        <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Sanction</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for type_decision in type_decisions %}
                <tr>
                    <td>{{ type_decision.id }}</td>
                    <td>{{ type_decision.nom }}</td>
                    <td>
                        <a href="{{ path('type_decision_show', {'id': type_decision.id}) }}">show</a>
                        <a href="{{ path('type_decision_edit', {'id': type_decision.id}) }}">edit</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">Aucun enregistrement</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}