{% extends 'employe.html.twig' %}
{% block title %} {{ "Lignes de depenses"|trans }} - GNT Pharma {% endblock %}
{% block conges %}active{% endblock %}
{% block absence %}active{% endblock %}
{% block body %}
    <div class="col-lg-10 mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-money-bill mr-2"></i>
        {{ "Mes absences"|trans }}
    </h3>
    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
        <tr>
            <th>{{ ('Date absence'|trans) }}</th>
            <th>{{ ('Status') }}</th>
            <th>{{ ('Sanction') }}</th>
            {#                <th>{{('Status')}}</th>#}
            {% if absences|filter(absence => absence.status == 0 and absence.justifier == false)|length > 0 %}
                <th>{{ ('Actions'|trans) }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td data-label="Date absence">{{ absence.dateAbsence ? absence.dateAbsence|date('d/m/Y') }}</td>
                <td>
                    {% if absence.status == 0 and absence.justifier == 0 %}
                        <span class="badge badge-warning">En attente de justification</span>
                    {% elseif absence.justifier == 0 and absence.status == 1 %}
                        <span class="badge badge-info">En attente de validation</span>
                    {% elseif absence.status == 1 and absence.justifier == 1 %}
                        <span class="badge badge-success">Absence justifiée</span>
                    {% elseif absence.status == 0 and absence.justifier == 1 %}
                        <span class="badge badge-danger">Absence non justifiée</span>
                    {% else %}
                        <span class="badge badge-secondary">Statut inconnu</span>
                    {% endif %}
                </td>
                <td data-label="Sanction">
                    {% for sanction in absence.sanctions %}
                        <span>{{ sanction.type.nom }}</span><br>
                    {% endfor %}
                </td>


                {#                <td data-label="Status">#}
                {#                    {% if absence.status == 0 %}#}
                {#                    <span class="badge badge-danger">En attente de justification</span>#}
                {#                    {% elseif absence.status == 1 %}#}
                {#                    <span class="badge badge-primary">En cours de traitement</span>#}
                {#                    {% elseif absence.status == 1 and absence.justifier == true %}#}
                {#                    <span>Justifié</span>#}
                {#                    {% endif %}#}
                {#                </td>#}
                {% if absence.status == 0 %}
                    <td data-label="Actions">

                        <a href="{{ path('absence_justifier', {'id': absence.id }) }}" class="btn btn-success btn-sm">Justifier</a>

                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Aucune absence enrégistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}