{% extends 'employe.html.twig' %}
{% block title %} {{ "Lignes de depenses"|trans }} - GNT Pharma {% endblock %}
{% block conges %}active{% endblock %}
{% block absence  %}active{% endblock %}
{% block body %}
<div class="col-lg-10 mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-money-bill mr-2"></i>
        {{ "Mes absences"|trans }}
    </h3>
    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>{{('Employé'|trans)}}</th>
                <th>{{('Date absence'|trans)}}</th>
                <th>{{('Justifier')}}</th>
                <th>{{('Status')}}</th>
                {% if absences|length > 0 and absences[0].status == 0 %}
                <th>{{('Actions'|trans)}}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for absence in absences %}
            <tr>
                <td data-label="Nom">{{ absence.employe.nom }}</td>
                <td data-label="Date absence">{{ absence.dateAbsence ? absence.dateAbsence|date('d/m/Y') }}</td>
                <td data-label="Justifier">
                    {% if absence.justifier == false %}
                    <span class="badge badge-danger">Non justifié</span>
                    {% else %}
                    <span class="badge badge-success">Justifié</span>
                    {% endif %}
                </td>
                <td data-label="Status">
                    {% if absence.status == 0 %}
                    <span class="badge badge-danger">En attente de justification</span>
                    {% elseif absence.status == 1 %}
                    <span class="badge badge-primary">En cours de traitement</span>
                    {% elseif absence.status == 1 and absence.justifier == true %}
                    <span>Justifié</span>
                    {% endif %}
                </td>
                {% if absence.status == 0 %}
                <td data-label="Actions">
                   
                    <a href="{{ path('absence_justifier', {'id': absence.id }) }}" class="btn btn-success btn-sm">Justifier</a>
                 
                </td>
                {% endif %}
            </tr>
            {% else %}
            <tr>
                <td colspan="4" class="text-center">Aucune absence enrégistré</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}