{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Lignes de depenses"|trans }} - GNT Pharma {% endblock %}
{% block discipline %}active{% endblock %}
{% block conges %}active{% endblock %}
{% block absence %}active{% endblock %}
{% block body %}
<div class="container mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fas fa-calendar-alt me-2"></i>
        {{ "Mes absences"|trans }}
    </h3>
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('absence_employe_attente') }}">
                {{'En attente de justification'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('absence_employe_accepter') }}">
                {{ 'Accepter'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('absence_employe_refuser') }}">
                {{ 'Réfuser'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('absence_suivi') }}">
                {{ 'Toutes les absences'|trans }}
            </a>
        </li>
    </ul>
    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
        <tr>
            <th>{{ ('Date absence'|trans) }}</th>
            <th>{{ ('Status'|trans) }}</th>
            <th>{{ ('Décision'|trans) }}</th>
            <th>{{ ('Actions'|trans) }}</th>
        </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td data-label="Date absence">
                    {{ absence.dateAbsence|date('d/m/Y') }}
                    {% if absence.dateAbsence != absence.dateFin %}
                        au {{ absence.dateFin|date('d/m/Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if absence.status == 0 and absence.justifier == 0 %}
                        <span class="badge badge-warning">En attente de justification</span>
                    {% elseif absence.justifier == 0 and absence.status == 1 %}
                        <span class="badge badge-info">En attente de validation</span>
                    {% elseif absence.status == 1 and absence.justifier == 1 %}
                        <span class="badge badge-success">Absence justifiée</span>
                    {% elseif absence.status == 0 and absence.justifier == 1 %}
                        <span class="badge badge-danger">Non justifiée</span>
                    {% else %}
                        <span class="badge badge-secondary">Statut inconnu</span>
                    {% endif %}
                </td>
                <td data-label="decision">
                    {% for decision in absence.decisions %}
                        <span>{{ decision.type }}</span><br>
                    {% endfor %}
                </td>
                <td>
                    {% if absence.status == 0 and absence.justifier == 0 %}
                        <a href="{{ path('absence_justifier' ,{'id': absence.id} ) }}" class="btn btn-success">Justifier</a>
                    {% else %}
                        <a href="{{ path('absence_detail', {'id': absence.id}) }}" class="btn btn-success"><i class="fas fa-eye"></i>Details</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Aucune absence enrégistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}