{% extends 'employe.html.twig' %}

{% block body %}
    <div class="col-lg-6 mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold text-center">
            <i class="fa fa-money-bill mr-2"></i>
            {{ "Details du refus "|trans }}
        </h3>

        <div class="card">
            <div class="card-header text-white">
                <h5>Informations sur le refus d'absence</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped w-100">
                    <tbody>
                    {% for decision in absence.decisions %}
                        <tr>
                            <th>{{ 'Motif du refus'|trans }}</th>
                            <td>{{ decision.motif }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Date de refus'|trans }}</th>
                            <td>{{ decision.datedecision ? decision.datedecision|date('d/m/Y') : 'Non spécifiée' }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Décision'|trans }}</th>
                            <td>{{ decision.type ? decision.type.nom : "Non spécifiée" }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Responsable'|trans }}</th>
                            <td>
                                {{ decision.responsable ? decision.responsable.prenom ~ ' ' ~ decision.responsable.nom : "Aucun responsable" }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'Date de confirmation'|trans }}</th>
                            <td>
                                {{ decision.dateConfirm ? decision.dateConfirm|date('d/m/Y') : 'Non spécifiée' }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">{{ 'Aucune décision'|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Section de boutons -->
        <div class="text-center mt-4">
            <!-- Retour -->
            <a id="{{ absence.id }}" onclick="load({{ absence.id }})" href="{{ path('absence_suivi') }}"
               class="btn btn-success-light mb-3">
                <i class="fa fa-undo"></i> {{ 'Retour'|trans }}
            </a>

            <!-- Voir la demande d'explication -->
            {% for decision in absence.decisions %}
                {% if decision.type and decision.type.nom == 'Demande d\'explication' %}
                    <a href="{{ path('demande_explication_detail', { id: decision.explication.id }) }}"
                       class="btn btn-success mb-3">
                        <i class="fa fa-eye"></i> {{ 'Voir la demande'|trans }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}