{% extends 'admin.html.twig' %}
{% block title %} {{ "Approvisionnement"|trans }} No {{ approvisionner.id }} - GNT Pharma {% endblock %}
{% block stock %}active{% endblock %}
{% block appro %}active{% endblock %}
{% block all_appro %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-shop mr-2"></i>
            {{ "Details Approvisionnement"|trans }}
        </h3>

        <div class="row justify-content-end">
            <div class="col-lg-5">
                <table class="table table-success-light table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'Numero'|trans }}</th>
                        <th>{{ 'Date'|trans }}</th>
                        <th>{{ 'Utilisateur'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ approvisionner.id }}</td>
                        <td>{{ approvisionner.date|date('d/m/Y') }}</td>
                        <td>{{ approvisionner.user.prenom }} {{ approvisionner.user.nom }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% set total=0 %}
        <table class="table table-success-light table-bordered table-hover table-striped w-100 text-center mt-5">
            <thead>
            <tr>
                <th>{{ 'Code Produit'|trans }}</th>
                <th class="text-left">{{ 'Designation'|trans }}</th>
                <th>{{'N° Lot'|trans}}</th>
                <th>{{'Peremption'|trans}}</th>
                {#            <th>etat stosk</th>#}
                <th>{{'Quantité'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for approvisionnement in approvisionnements %}
                <tr>
                    <td> {{ approvisionnement.produit.id }} </td>
                    <td class="text-left">{{ approvisionnement.produit.desigantion }} </td>
                    <td>{{ approvisionnement.lot }} </td>
                    <td>{{ approvisionnement.peremption|date('d/m/Y') }} </td>
                    {#                <td> {{ approvisionnement.produit.stock }} </td>#}
                    <td>{{ approvisionnement.quantite }}</td>


                </tr>

            {% else %}
                <tr>
                    <td colspan="8">{{ 'Aucune commande'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="col-md-2 offset-md-4 mt-5 mb-5 pt-2 pb-2 fond-7">
            <div class="centrer">
                <a id="{{ approvisionner.id }}" onclick="load({{ approvisionner.id }})" href="{{ path('stock_show_print',{ 'id': approvisionner.id}) }}" class="btn btn-success float-end">
                    <i class="fa fa-print"></i>
                    {{ "Imprimer"|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
