{% extends 'rh.html.twig' %}
{% block title %} {{ "Lignes de depenses"|trans }} - GNT Pharma {% endblock %}
{% block employe %}active{% endblock %}
{% block formation_index %}active{% endblock %}
{% block all_formations %}active{% endblock %}
{% block body %}
<div class="col-lg-8 mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-money-bill mr-2"></i>
        {{ "Bulletins de paies"|trans }}
    </h3>
    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
        <tr>
            <th>{{('Date paiement '|trans)}}</th>
            <th>{{('Salaire de base'|trans)}}</th>
            <th>{{('Salaire net'|trans)}}</th>
            <th>{{('actions'|trans)}}</th>
        </tr>
        </thead>
        <tbody>
        {% for bulletin in bulletins %}
            <tr>
                <td data-label="Date paiement">{{ bulletin.mois ? bulletin.mois|date('d/m/Y') }}</td>
                <td data-label="Salaire de base">{{ bulletin.salaireBase|number_format(0,'',' ') }} FCFA</td>
                <td data-label="Salaire net">{{ bulletin.salaireNet|number_format(0,'',' ') }} FCFA</td>
                <td data-label="Actions">
                    <a href="{{ path('mes_bulletin_details', {'id': bulletin.id}) }}" class="btn btn-success">Details</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
