{% extends 'rh.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h2 class="mb-4">Détails du Bulletin de Paie de {{ employe.nom }} {{ employe.prenom }}</h2>
</h2>

    <div class="card mb-4">
        <div class="card-header bg-dark text-white">
            Bulletin de Paie
        </div>
        <div class="card-body">
            <!-- Détails de l'employé -->
            <p><strong>Matricule :</strong> {{ employe.matricule }}</p>
            <p><strong>Poste :</strong> {{ employe.poste.nom }}</p>
            <p><strong>Département :</strong> {{ employe.poste.departement.nom }}</p>
            <p><strong>Salaire de base :</strong> {{ employe.poste.salaire }} FCFA</p>

            <hr>

            <!-- Détails des primes -->
            <h5>Primes :</h5>
            <ul>
                {% for prime in primes %}
                    <li>Le type de la prime : {{ prime.montant }} FCFA</li>
                {% endfor %}
            </ul>

            <!-- Détails des heures supplémentaires -->
            <h5>Heures supplémentaires :</h5>
            <ul>
                {% for heure in heureSup %}
                    <li>{{ heure.duree }} : {{ heure.tauxHoraire }} FCFA</li>
                {% endfor %}
            </ul>

          </div>
    </div>
</div>
{% endblock %}
