{{ form_start(form, {'attr': {'id': 'form'}}) }}


    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message|trans }}
        </div>
    {% endfor %}

<div class="row">
    <div class="col-12 mb-4">
        {{ form_row(form.employe, {'attr': {'placeholder': 'Sélectionnez l\'employé *'}, 'label': false}) }}
    </div>
    <div class="col-12 mb-4">
        {{ form_row(form.fileName, {'attr': {'placeholder': 'Entrez le nom des documents *'}, 'label': false}) }}
    </div>

    <div class="col-12 mb-4">
        <div class="custom-file">
            {{ form_widget(form.filePath, {'attr': {'class': 'custom-file-input', 'onchange': 'updateFileName(this)'}}) }}
            <label class="custom-file-label text-truncate" for="{{ form.filePath.vars.id }}" id="fileLabel">
                <i class="fa-solid fa-file-arrow-up mr-2"></i>
                {{ 'Choisir un fichier...'|trans }}
            </label>
        </div>
        <small class="form-text text-muted mt-2">
            {{ 'Formats acceptés : PDF, JPG, PNG (max. 2Mo)'|trans }}
        </small>
        {{ form_errors(form.filePath) }}
    </div>
</div>

{{ form_rest(form) }}
</div>

{{ form_end(form) }}

{% block scripts %}
    <script>
        function updateFileName(input) {
            const fileName = input.files[0]?.name || '{{ 'Choisir un fichier...'|trans }}';
            document.getElementById('fileLabel').innerHTML = `<i class="fa-solid fa-file mr-2"></i>${fileName}`;
        }

    </script>
{% endblock %}
