{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Tous les clients"|trans }} - GNT Pharma {% endblock %}
{% block client %}active{% endblock %}
{% block all_client %}active{% endblock %}
{% block body %}
    <div class="container mt-4 fond-7">
        <h4 class="text-bold mt-3 mb-5">
            <i class="fa fa-user-tag"></i>
            {{ "Tous les clients"|trans }}
        </h4>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black mb-5">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ message|trans }}
            </div>
        {% endfor %}
        {% if is_granted('ROLE_FINANCE') %}
        <a class="btn btn-green mb-5" href="{{ path('client_new') }}">
            <i class="fa-solid fa-user-tag"></i><i class="fa-solid fa-plus"></i>
            {{ 'Nouveau client'|trans }}
        </a>
        {% endif %}
        <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
            <thead>
            <tr>
                <th>{{ 'Nº Compte'|trans }}</th>
                <th>{{ 'Nom'|trans }}</th>
                <th>{{ 'Prénom'|trans }}</th>
                <th>{{ 'Téléphone'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Adresse'|trans }}</th>
                <th class="text-center">{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for client in client %}
                <tr>
                <td data-label="Nº Compte">{{ client.compte }}</td>
                <td data-label="Nom">{{ client.nom }}</td>
                <td data-label="Prénom">{{ client.prenom }}</td>
                <td data-label="Téléphone">{{ client.phone }}</td>
                <td data-label="Email">{{ client.email }}</td>
                <td data-label="Adresse">{{ client.adresse }}</td>
                <td data-label="Actions" class="text-center">
                    <a href="#" class="btn btn-success-light mr-2" title="{{ "Modifier"|trans }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">{{ "Aucun client enregistré"|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}