{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block client %}active{% endblock %}
{% block all_client %}active{% endblock %}
{% block body %}
    <div class="container-fluid mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-money-bill mr-2"></i>
        {{ "Listes des employés"|trans }}
    </h3>


    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
        <tr>
            <th>{{ 'Prénom'|trans }}</th>
            <th>{{ 'Nom'|trans }}</th>
            <th>{{ 'Téléphone'|trans }}</th>
            <th>{{ 'Email'|trans }}</th>
            <th>{{ 'Adresse'|trans }}</th>
            <!-- <th>{{ 'actions'|trans }}</th> -->
        </tr>
        </thead>
        <tbody>
        {% for client in client %}
            <tr>
            <td>{{ client.prenom }}</td>
            <td>{{ client.nom }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.adresse }}</td>

            <!-- <td>action</td> -->
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}