{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Primes"|trans }} - GNT Pharma {% endblock %}
{% block paie %}active{% endblock %}
{% block prime %}active{% endblock %}
{% block body %}
    <div class="container mt-4 fond-7 pb-5 pt-3 px-5">
        <h4 class="text-bold mb-5">
            <i class="fa-solid fa-gears fa-lg"></i>
            {{ 'Liste des primes'|trans }}
        </h4>
        <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
            <thead>
            <tr>
                <th>Date prime</th>
                <th>Montant</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for prime in primes %}
                <tr>
                    <td>{{ prime.createdAt ? prime.createdAt|date('d/m/Y') }}</td>
                    <td>{{ prime.montant|number_format(0,'',' ') }} FCFA</td>
                    <td>{{ prime.description }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
