{% extends 'rh.html.twig' %}
{% block communication %} active {% endblock %}
{% block messagerie %} active {% endblock %}
{% block title %}{{ "Boîte de réception"|trans }} - GNT Pharma {% endblock %}

{% block body %}

    <div class="container mt-5 mb-5 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-comments"></i>
            {{ "Messagerie"|trans }}
        </h3>
        <div class="row">
            {% set recus = 'active' %}
            {% set envoyes = '' %}
            {% set corbeille = '' %}
            {{ include('message/menu.html.twig') }}
            <div class="col-9 p-5" style="border-top: 2px solid var(--vert);border-left: 2px solid var(--vert);">
                {% for message in app.flashes('message') %}
                    <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black mb-5">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                        </button>
                        {{ message|trans }}
                    </div>
                {% endfor %}
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="row">
                        <div class="col-md-3 col-4 bg-success-light p-1 shadow-5 mb-2">
                            {{ "De"|trans }}
                        </div>
                        <div class="col-md-6 col-4 bg-success-light p-1 shadow-5 mb-2">
                            {{ "Objet"|trans }}
                        </div>
                        <div class="col-md-3 col-4 bg-success-light p-1 shadow-5 mb-2">
                            {{ "Date"|trans }}
                        </div>
                        {% for message in app.user.received %}
                            {% set bold = "" %}
                            {% if message.isRead == 0 %}
                                {% set bold = "text-bold" %}
                            {% endif %}

                            <div class="col-md-3 col-4 {{ bold }}">
                                <a href="{{ path("read", {id: message.id}) }}">
                                    {{ message.sender.nom }} {{ message.sender.prenom }}
                                </a>
                            </div>
                            <div class="col-md-6 col-4 {{ bold }}">
                                <a href="{{ path("read", {id: message.id}) }}">
                                    {{ message.message.title }}
                                </a>
                            </div>
                            <div class="col-md-3 col-4 {{ bold }}">
                                <a href="{{ path("read", {id: message.id}) }}">
                                    {{ message.message.createdAt|date('d/m/Y H:i:s') }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
