{% extends 'rh.html.twig' %}
{% block communication %} active {% endblock %}
{% block messagerie %} active {% endblock %}
{% block title %}{{ "Message à"|trans }} {{ message.sender.nom }} {{ message.sender.prenom }} - GNT Pharma {% endblock %}

{% block body %}

    <div class="container mt-5 mb-5 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-comments"></i>
            {{ "Messagerie"|trans }}
        </h3>
        <div class="row">
            {% set recus = '' %}
            {% set envoyes = 'active' %}
            {% set corbeille = '' %}
            {{ include('message/menu.html.twig') }}
            <div class="col-9 p-5" style="border-top: 2px solid var(--vert);border-left: 2px solid var(--vert);">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="row bg-success-light p-2 radius-10 shadow-black">
                        <div class="col-2 centrer">
                            <a href="{{ path("sent") }}" class="btn btn-success-light"
                               title="{{ 'Retour aux messages envoyés'|trans }}">
                                <i class="fa-solid fa-chevron-left fa-lg"></i>
                                {{ "Retour"|trans }}
                            </a>
                        </div>
                        <div class="col-md-5 col-4">
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{ asset('images/avatar-homme.avif') }}" alt="photo"
                                         class="w-80 rounded-circle">
                                </div>
                                <div class="col-9">
                                    {{ message.sender.nom }}
                                    {{ message.sender.prenom }}
                                    <br>
                                    <small>
                                        {{ "De moi"|trans }}
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-4 centrer">
                            {{ message.createdAt|date('d/m/Y H:i:s') }}
                        </div>
                        <div class="col-md-2 col-3 centrer">
                            {#<a href="#" class="text-green mr-5" title="{{ 'Répondre'|trans }}">
                                <i class="fa-solid fa-reply fa-lg"></i>
                            </a>#}
                            <a href="{{ path("delete", {id: message.id}) }}" class="text-danger"
                               title="{{ 'Supprimer'|trans }}">
                                <i class="fa-solid fa-trash-can fa-lg"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row border border-green mt-5 p-5 radius-10 shadow">
                        {{ message.message|nl2br }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

