<div class="menu-overlay" id="menu-overlay" onclick="openNav()">

</div>
<div id="overlay" class="overlay" onclick="closeNav()">

</div>
{% block javascripts %}
{#    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>#}
{#    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('DataTables/datatables.js') }}"></script>
    <script src="{{ asset('fontawesome/js/all.js') }}"></script>
{% endblock %}



<script>

    function openNav() {
        document.getElementById("navmenu").style.width = "230px";
        document.getElementById("closebtn").style.visibility = "visible";
        document.getElementById("sidenav").style.overflow = "visible";
        document.getElementById("session").style.visibility = "visible";
        document.getElementById("overlay").style.visibility = "visible";
        document.getElementById("menu-overlay").style.visibility = "hidden";
        if (document.body.clientWidth <= 768) {
            document.getElementById("navbtn").style.visibility = "hidden";
        }
    }

    function closeNav() {
        document.getElementById("closebtn").style.visibility = "hidden";
        document.getElementById("sidenav").style.overflow = "hidden";
        document.getElementById("session").style.visibility = "hidden";
        document.getElementById("overlay").style.visibility = "hidden";
        document.getElementById("menu-overlay").style.visibility = "visible";
        if (document.body.clientWidth <= 768) {
            document.getElementById("navmenu").style.width = "0px";
            document.getElementById("navbtn").style.visibility = "visible";
        } else {
            document.getElementById("navmenu").style.width = "50px";
        }
    }

    if (document.body.clientWidth <= 768) {
        $('#closebtn').html("<i class='fas fa-times fa-lg'></i>");
    } else {
        $('#closebtn').html('<i class="fas fa-arrow-left fa-lg"></i>');
    }

    //langue systeme
    function choixlangue() {
        var url = $(location).attr("href");
        var index;
        var langselect = $('#langue option:selected');
        if (langselect.val() === 'Francais') {
            url = url.replace("/en/", "/fr/");
        } else{
            url = url.replace("/fr/", "/en/");
        }
        document.location.href = url;
    }

    function positionlangue() {

        var url = $(location).attr("href");
        var fr = url.indexOf("/fr/");
        var en = url.indexOf("/en/");
        if (fr !== -1) {
            $("#langue").html("<option value='Francais'>Français</option><option value='English'>English</option>")

        } else if (en !== -1) {
            $("#langue").html("<option value='English'>English</option><option value='Francais'>Français</option>")


        }

    }

    function addprod(id, mincom, st) {// fonction pour ajouter un produit dans le panier
        var reg = new RegExp("^[0-9]+$");
        if (reg.test($('#text' + id).val()) && mincom <= $('#text' + id).val()) {
            if (st >= $('#text' + id).val()) {
                $('#btn' + id).html("<i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i>");
                $.ajax({
                    type: "POST",
                    url: "{{ path('commande_add') }}",
                    data: "prod=" + id + "&quantite=" + $('#text' + id).val(),
                    success: function (data) {
                        if (data['id'] == 'ok') {
                            $('#tdprod' + id).html($('#text' + id).val());
                            $('#gest_panier').html(data['panier']);
                            $('#btn' + id).html("<i class='fa fa-cart-shopping'></i>");
                            $('#btn' + id).addClass('disabled');
                        } else {
                            alert("{{ 'verifier la quantite saisie 1'|trans }}")
                        }
                    },
                    error: function () {
                        alert("{{ 'La requête n a pas abouti'|trans }}");
                    }
                });
            } else {
                var mess = "Maximum disponible  " + st;
                alert(mess);
            }
        } else {
            var mess = "Commande minimun " + mincom;
            alert(mess);
        }

    }



    function nofocu(id) {
        $('#tampon').val('');
    }

    //message systeme
    function advert() {
        $('#advertiser').trigger('click');
        return false;
    }

    //exporter vers excel
    function allexcel() {
        $('button').trigger('click');
        return false;

    }

    //rattraper une operation oublié
    function rattrapage() {
        if ($('#datecheck').is(':checked')) {
            $('#date').show();
        } else {
            $('#date').hide();
        }
    }

    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/sw.js')
            .then(function (registration) {
                console.log(
                    'Service Worker registration successful with scope:', registration.scope
                );
            })
            .catch(function (err) {
                console.log('Service Worker registration failed:', err);
            });
    }

    let deferredPrompt;
    const installButton = document.getElementById("install_button");

    window.addEventListener("beforeinstallprompt", e => {
        console.log("beforeinstallprompt fired");
        e.preventDefault();
        deferredPrompt = e;
        installButton.hidden = false;
        installButton.addEventListener("click", installApp);
    });

    function installApp() {
        deferredPrompt.prompt();
        installButton.disabled = true;
        deferredPrompt.userChoice.then(choiceResult => {
            if (choiceResult.outcome === "accepté") {
                console.log("Installation de l'application acceptée");
                installButton.hidden = true;
            } else {
                console.log("Installation de l'application rejetée");
            }
            installButton.disabled = false;
            deferredPrompt = null;
        });
    }

    $(document).ready(function () {
        positionlangue();

/*
        var keys = {};
        $(window).on("keyup keydown", function (e) {
            keys[e.keyCode] = e.type === 'keydown';
            if (keys[17] || keys[80]) {
                e.preventDefault();
            }
        });
        $(window).bind('keydown keypress', 'ctrl+s', function () {
            $('#save').click();
            return false;
        });
        $(document).bind('contextmenu', false);

        $(window).on(' copy dragstart drop', function (e) {
            e.preventDefault();
            return false;
        });*/
        initialisationpromo();
        $('#btnversement').hide();
        $('#versement').hide();
        $('#tampon').hide();
        $('#paiement_form_montant').change(function () {// controle montant paiement
            var reg = new RegExp("^[0-9]+$");
            if (reg.test($('#paiement_form_montant').val())) {
                $('#tamp').val('ok');
                if ($('#tamp1').val() != '') $('#btnversement').show();
            } else {
                $('#tamp').val('');
                $('#btnversement').hide();
            }
        });

        $('#promotion_type').change(function () {//changement type de promotion
            if ($('#promotion_type option:selected').val() == 'Unités Gratuites') {
                $('#tranche').show();
                $('#reduction').hide();
                $('#promotion_reduction').val('');

            }else if ($('#promotion_type option:selected').val() == 'Réduction') {
                $('#tranche').hide();
                $('#reduction').show();
                $('#promotion_premier').val('');
                $('#promotion_ugpremier').val('');
                $('#promotion_deuxieme').val('');
                $('#promotion_ugdeuxieme').val('');
                $('#promotion_troisieme').val('');
                $('#promotion_ugtroisieme').val('');
            }else{
                $('#tranche').hide();
                $('#reduction').hide();
                $('#promotion_premier').val('');
                $('#promotion_ugpremier').val('');
                $('#promotion_deuxieme').val('');
                $('#promotion_ugdeuxieme').val('');
                $('#promotion_troisieme').val('');
                $('#promotion_ugtroisieme').val('');
                $('#promotion_reduction').val('');
            }
        });

    });

    function envoie() {
        var valider=$('#send');
        valider.addClass("disabled");
        valider.html("<i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i>");
        $('#form').submit();
    }
    function initialisationpromo() {
        if ($('#promotion_type option:selected').val() == 'Unités Gratuites') {
            $('#tranche').show();
            $('#reduction').hide();
            $('#promotion_reduction').val('');

        }else if ($('#promotion_type option:selected').val() == 'Réduction') {
            $('#tranche').hide();
            $('#reduction').show();
            $('#promotion_premier').val('');
            $('#promotion_ugpremier').val('');
            $('#promotion_deuxieme').val('');
            $('#promotion_ugdeuxieme').val('');
            $('#promotion_troisieme').val('');
            $('#promotion_ugtroisieme').val('');
        }else{
            $('#tranche').hide();
            $('#reduction').hide();
        }
    }
    function promosubmit() {// fonction enregistrement promotion
        var valider=$('#send');
        var date1 = new Date($('#promotion_debut').val());
        var date2 = new Date($('#promotion_fin').val());
        let premier = $('#promotion_premier').val();
        let ugpremier = $('#promotion_premier').val();
        let deuxieme = $('#promotion_deuxieme').val();
        let ugdeuxieme = $('#promotion_deuxieme').val();
        let troisieme = $('#promotion_troisieme').val();
        let ugtroisieme = $('#promotion_troisieme').val();
        // valider.addClass("disabled");
        if ($('#promotion_type option:selected').val() == 'Unités Gratuites') {


            if($('#promotion_premier').val() != '' &&
                $('#promotion_ugpremier').val() != '' &&
                $('#promotion_deuxieme').val() != '' &&
                $('#promotion_ugdeuxieme').val() != '' &&
                $('#promotion_troisieme').val() != '' &&
                $('#promotion_ugtroisieme').val() != '' &&
                $('#promotion_designation').val() != '' &&
                date1 != 'Invalid Date' &&
                date2 != 'Invalid Date' &&
                date1 >= new Date()) {

                if(premier >= ugpremier &&
                    deuxieme >= ugdeuxieme &&
                    troisieme >= ugtroisieme &&
                    premier <= deuxieme  &&
                    deuxieme <= troisieme
                ) {
                    valider.html("<i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i>");
                    $('#form').submit();
                }else alert("Veuillez verifier les valeurs de la promotion");

            }else{
                alert('Veuillez saisir tous les champs');
            }

        }else if ($('#promotion_type option:selected').val() == 'Réduction') {

            if($('#promotion_reduction').val() != '' &&
                $('#promotion_designation').val() != '' &&
                date1 != 'Invalid Date' &&
                date2 != 'Invalid Date' &&
                date1 >= new Date()) {
                valider.html("<i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i>");
                $('#form').submit();
            }else{
                alert('Veuillez saisir tous les champs');
            }
        }else {
            alert('Veuillez saisir tous les champs');
        }
    }

    function facture() {
        $('#decl').trigger('click');
        return false;
    }

    //selection d'une ligne de données
    function trselect(id) {
        if ($("#" + id).is(':checked')) {
            $("#tr" + id).css('background', '#c5fbae');
        } else {
            $("#tr" + id).css('background', '');
        }
    }

    //selection de tous les pelerins
    function selectAll() {
        if ($("#tous").is(':checked')) {
            $("input[type=checkbox]").attr('checked', true);
            $("input[type=checkbox]").each(
                function () {
                    if ($(this).is(':checked')) {

                    } else {
                        $(this).trigger('click')
                    }
                    trselect($(this).attr("id"));
                });
        } else {
            $("input[type=checkbox]").attr('checked', false);
            $("input[type=checkbox]").each(
                function () {
                    if ($(this).is(':checked')) {
                        $(this).trigger('click')
                    }
                    trselect($(this).attr("id"));
                });
        }
    }

    var table = $('#liste').DataTable({

        responsive: true,
        "pageLength": 100,
        buttons: [{
            extend: 'excelHtml5',
            text: '<i class="fa fa-file-excel fa-lg"></i> {{ "Exporter vers Excel"|trans }}',
            attr: {
                class: 'btn btn-shadow btn-green'
            },
        }],
        language: {
            processing: "Traitement en cours...",
            search: "Rechercher&nbsp;:",
            lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
            info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            infoPostFix: "",
            loadingRecords: "Chargement en cours...",
            zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
            emptyTable: "Aucune donnée disponible dans le tableau",
            paginate: {
                first: "Premier",
                previous: "Pr&eacute;c&eacute;dent",
                next: "Suivant",
                last: "Dernier"
            },
            aria: {
                sortAscending: ": activer pour trier la colonne par ordre croissant",
                sortDescending: ": activer pour trier la colonne par ordre décroissant"
            }
        }

    });
    table.buttons().container().appendTo('#exportexcel');

    //gestion des tableaux multiples
    function reponse() {
        var table = $('table').DataTable({

            responsive: true,
            "pageLength": 25,
            buttons: [{
                extend: 'excelHtml5',
                text: '<i class="fa fa-file-excel fa-lg"></i> Exporter vers Excel',
                attr: {
                    class: 'btn btn-shadow btn-green'
                },
            }],
            language: {
                processing: "Traitement en cours...",
                search: "Rechercher &nbsp;:",
                lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix: "",
                loadingRecords: "Chargement en cours...",
                zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable: "Aucune donnée disponible dans le tableau",
                paginate: {
                    first: "Premier",
                    previous: "Pr&eacute;c&eacute;dent",
                    next: "Suivant",
                    last: "Dernier"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            }

        });
    }

</script>
