<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %} GNT Pharma - Leader dans la distribution des produits pharmaceutiques {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="GNT Pharma">
    <meta name="description" content="Leader dans la distribution des produits pharmaceutiques">
    <meta name="author" content="EUCLIDES">

    <!-- Favicon -->
    <!--    <link href="images/favicon.ico" rel="icon"> -->

    <!-- Libraries Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.compat.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('images/gntpharma.jpeg') }}" type="image/x-icon">
    {% block photobox_css %} {% endblock %}

    <!-- Site Stylesheet -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{#    <link href="{{ asset('css/commande.css') }}" rel="stylesheet">#}
</head>

<body>
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top p-0">
    <a href="{{ path('Accueil') }}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 logo fw-bold">
            <i class="fa-solid fa-staff-snake fa-lg me-2"></i>GNT PHARMA
        </h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#main-nav">
        <i class="fa fa-bars fa-lg"></i>
    </button>
    <div class="collapse navbar-collapse pe-5" id="main-nav">
        <div class="navbar-nav ms-auto d-flex align-items-center p-4 p-lg-0">
            <a href="{{ path('Accueil') }}"
               class="nav-item nav-link {% block home %} {% endblock %}">{{ "Accueil"|trans }}</a>
            <a href="{{ path('About') }}"
               class="nav-item nav-link {% block about %} {% endblock %}">{{ "A propos"|trans }}</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% block metiers %} {% endblock %}"
                   data-bs-toggle="dropdown" aria-expanded="false">{{ "Nos métiers"|trans }}</a>
                <div class="dropdown-menu m-0">
                    <a href="{{ path('Logistique') }}"
                       class="dropdown-item {% block logistique %} {% endblock %}">{{ "Logistique"|trans }}</a>
                    <a href="{{ path('Distribution') }}"
                       class="dropdown-item {% block distribution %} {% endblock %}">{{ "Distribution"|trans }}</a>
                    <a href="{{ path('Promotion') }}"
                       class="dropdown-item {% block promotion %} {% endblock %}">{{ "Promotion"|trans }}</a>
                </div>
            </div>
            <a href="{{ path('commande_index') }}"
               class="nav-item nav-link {% block commande %} {% endblock %}">{{ "Commande"|trans }}</a>
            <a href="{{ path('Carriere') }}"
               class="nav-item nav-link {% block carriere %} {% endblock %}">{{ "Carrières"|trans }}</a>
            <a href="{{ path('Contact') }}"
               class="nav-item nav-link {% block contact %} {% endblock %}">{{ "Contact"|trans }}</a>
            <button id="changelang" class="lang-button">
            </button>
        </div>
    </div>
</nav>
<!-- Navbar End -->



{% block body %}


{% endblock %}

<!-- Footer Start -->
<footer class="text-light">
    <div class="container-fluid footer pt-3">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-tittle">{{ "Contact"|trans }}</h4>
                    <p class="mb-2 fw-medium">
                        <i class="fa fa-map-marker-alt fa-lg me-2 text-secondaire"></i>
                        BP : 3582 Yaoundé – Cameroun,<br>
                        <span class="ms-4">NGOUSSO Montée Éleveur</span><br><span class="ms-4">immeuble Sainte Marie</span>
                    </p>
                    <p class="mb-2">
                        <a href="tel:+237621117743" class="footer-link fw-medium">
                            <i class="fa fa-phone fa-lg me-2 text-secondaire"></i>
                            +237 69 71 49 4 12
                        </a>
                        <a href="tel:+237675247865" class="footer-link fw-medium ms-4">

                            +237 67 52 47 865
                        </a>
                    </p>
                    <p class="mb-2">
                        <a href="mailto:lnatlantiscameroon@gmail.com" class="footer-link fw-medium">
                            <i class="fa fa-envelope fa-lg me-2 text-secondaire"></i>
                            info@gntpharma-cameroun.com
                        </a>

                    </p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-tittle">{{ "Liens utiles"|trans }}</h4>
                    <a class="btn btn-link" href="{{ path('About') }}">{{ "A propos"|trans }}</a>
                    <a class="btn btn-link" href="#">{{ "Actualité et événements"|trans }}</a>
                    <a class="btn btn-link" href="{{ path('produit_index') }}">{{ "Commande"|trans }}</a>
                    <a class="btn btn-link" href="{{ path('Contact') }}">{{ "Contact"|trans }}</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-tittle">{{ "Réseaux sociaux"|trans }}</h4>
                    <div class="row">
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-facebook">
                                    gnt-pharma
                                </span>
                                <i class="fab fa-square-facebook fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-twitter">
                                    gnt-pharma
                                </span>
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-instagram">
                                    gnt-pharma
                                </span>
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-youtube">
                                    gnt-pharma
                                </span>
                                <i class="fab fa-youtube fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="socialink" href="#">
                                <span class="socialink-linkedin">
                                    gnt-pharma
                                </span>
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-tittle">{{ 'Newsletter'|trans }}</h4>
                    <p class="mb-3">
                        {{ "Abonnez-vous à notre liste de diffusion pour recevoir les dernières actualités"|trans }}
                    </p>
                    <div class="subcriber-box">
                        <form id="nl-form" class="mc-form">
                            <div class="newsletter-form">
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" placeholder="Adresse email"
                                           aria-label="Adresse email" aria-describedby="email">
                                    <span class="input-group-text" id="email">
                                        <i class="fa fa-paper-plane"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright px-0">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="py-4 px-5 text-center text-md-start">
                <p class="mb-0">&copy; 2023 GNT Pharma, {{ "Tout droits réservés."|trans }}</p>
            </div>
            <div class="py-4 px-5 bg-secondaire footer-shape position-relative text-center text-md-end">
                <p class="mb-0 text-primaire">
                    Designed By
                    <a class="fw-bold text-primaire" href="https://euclideservices.com" target="_blank">EUCLIDES</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg back-to-top">
    <i class="fa-solid fa-chevron-up"></i>
</a>

<!-- JavaScript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" async></script>
{% block photobox_js %} {% endblock %}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" ></script>#}
{#<script src="{{ asset('libs/counterup/js/counterup.min.js')}}"></script>#}

<!-- Main Javascript -->
<script src="{{ asset('js/main.min.js') }}"></script>
{% if app.user != null %}
{#    <script src="{{ asset('js/commande.min.js') }}"></script>#}
{% endif %}

</body>

</html>