{% extends 'rh.html.twig' %}
{% block title %} {{ "Modification employé "|trans }} - GNT Pharma {% endblock %}
{% block body %}
    {{ form_start(form, {'attr': {'id': 'form'}}) }}


    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message|trans }}
        </div>
    {% endfor %}
    <div class="col-lg-5 offset-lg-2 mt-4 fond-7 pb-5 pt-3 px-5">
        <h4 class="mb-5">
            <i class="fa-solid fa-clock"></i><i class="fa fa-plus mr-2"></i>
            {{ 'Traitement de la demande de congé'|trans }}
        </h4>
      
        <div class="col-12 mb-4">
            {{ form_row(form.dateDebutAccorder, {'attr': {'title': 'Date début demande *'}, 'label': false}) }}
        </div>

        <div class="col-12 mb-4">
            {{ form_row(form.dateFinAccorder, {'attr': {'title': 'Date fin demande *'}, 'label': false}) }}
        </div>

        <div class="col-12 mb-4">
            {{ form_row(form.employe, {'attr': {'title': 'Employé qui a démandé *'}, 'label': false}) }}
        </div>

    </div>
    <div class="col-md-3 offset-md-3 mt-4 pt-3 fond-7">
        <div class="centrer">
            <button type="submit" class="btn btn-shadow btn-green btn-normal mb-3 mr-3" id="send">
                <i class="fa fa-save"></i>
                {{ 'Approuver le congé'|trans }}
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
 <script>
   $(document).ready(function(){
    $('#send').click(function(e) {
        let dateDebutAccorder = new Date($('#approuver_dateDebutAccorder').val());
        let dateFinAccorder = new Date($('#approuver_dateFinAccorder').val());
        let dateJour = new Date();
        dateJour.setHours(0, 0, 0, 0); 
        if (dateDebutAccorder < dateJour) {
            $('#approuver_dateDebutAccorder').val("");
            alert('La date accordée ne doit pas être inférieure à la date du jour.');
            e.preventDefault();
            return;
        }

        if (dateDebutAccorder > dateFinAccorder) {
            $('#approuver_dateFinAccorder').val("");
            alert('La date de fin ne peut être inférieure à la date de début.');
            e.preventDefault();
            return;
        }
    });
});

 </script>
{% endblock %}