<!DOCTYPE html>

<title>{{ 'Edit Reponse'|trans }}</title>

{% block body %}
    <h1>{{ 'Edit Reponse'|trans }}</h1>

    {{ include('reponse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reponse_index') }}">back to list</a>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
