{% extends 'employe.html.twig' %}
{% block administration %}active{% endblock %}
{% block explication %}active{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="col-lg-10 fond-7 shadow rounded">
        <div class="card">
            <div class="card-header text-white text-center">
                <h4><i class="fa-solid fa-info-circle"></i> Détails de la demande d'explication</h4>
            </div>
            <div class="card-body">
                <h5 class="mb-4 text-bold"><i class="fa-solid fa-user"></i> Détails de la demande</h5>
                <ul class="list-group mb-4">
                    <li class="list-group-item"><strong>Objet :</strong> {{ demandeExplications.objet }}</li>
                    <li class="list-group-item"><strong>Date de l'incident :</strong> {{ demandeExplications.dateIncident ? demandeExplications.dateIncident|date('d/m/Y') : 'N/A' }}</li>
                    <li class="list-group-item"><strong>Date de soumission :</strong> {{ demandeExplications.date ? demandeExplications.date|date('d/m/Y') : 'N/A' }}</li>
                    <li class="list-group-item">
                        <!-- <strong>Détails :</strong> -->
                        <p class="mt-2">{{ demandeExplications.details }}</p>
                        <h5 class="mt-3">Cordialement,</h5>
                        <p class="text-right">
                            <strong>{{ demandeExplications.responsable.nom ~ ' ' ~ demandeExplications.responsable.prenom }}</strong><br>
                            {{ demandeExplications.responsable.poste.nom }}<br>
                            {{ demandeExplications.responsable.email }} | {{ demandeExplications.responsable.phone }}
                        </p>
                    </li>
                </ul>

                <!-- Afficher la réponse de l'employé -->
                {% if demandeExplications.status == true %}
                <div class="mt-4">
                    <h5 class="text-success text-bold"><i class="fa-solid fa-reply"></i> Votre reponse</h5>
                    <ul class="list-group mb-4">
                        <li class="list-group-item"><strong>Date de réponse :</strong> {{ demandeExplications.dateReponse ? demandeExplications.dateReponse|date('d/m/Y') : 'N/A' }}</li>
                        <li class="list-group-item">
                            <!-- <strong>Détails de la réponse :</strong> -->
                            <p class="mt-2">{{ demandeExplications.reponse }}</p>
                            <h5 class="mt-3">Cordialement,</h5>
                            <p class="text-right mt-3">
                                <strong>{{ demandeExplications.employe.nom ~ ' ' ~ demandeExplications.employe.prenom }}</strong><br>
                                {{ demandeExplications.employe.poste.nom }}<br>
                                {{ demandeExplications.employe.email }} | {{ demandeExplications.employe.phone }}
                            </p>
                        </li>
                    </ul>
                </div>
                {% endif %}

                <!-- Boutons "Répondre" et "Retour" -->
                <div class="text-center mt-4">
                    {% if demandeExplications.status == false %}
                    <a href="{{ path('reponse_demande', {'id': demandeExplications.id}) }}" class="btn btn-success btn-lg mx-2">
                        <i class="fa fa-reply"></i> Répondre
                    </a>
                    {% endif %}
                    <a href="{{ path('demande_explication_index') }}" class="btn btn-outline-success btn-lg mx-2">
                        <i class="fa fa-undo"></i> Retour
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
