{% extends 'employe.html.twig' %}
{% block administration %}active{% endblock %}
{% block explication %}active{% endblock %}
{% block body %}
<div class="container-fluid mt-4 fond-7">
    <h3 class="mt-4 text-bold">
        <i class="fa fa-money-bill mr-2"></i>
        {{ "Listes des demandes d'explication"|trans }}
    </h3>
   <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>{{ 'Date demande d\'explication'|trans }}</th>
                <th>{{ 'Date de l\'incident'|trans }}</th>
                <th>{{ 'Objet demande'|trans }}</th>
                <th>{{ 'Statut'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for demandeExplications in demandeExplication %}
            <tr>
                <td data-label="{{ 'Date demande d\'explication'|trans }}">{{ demandeExplications.date ? demandeExplications.date|date('d/m/Y') : '' }}</td>
                <td data-label="{{ 'Date de l\'incident'|trans }}">{{ demandeExplications.dateIncident ? demandeExplications.dateIncident|date('d/m/Y') : '' }}</td>
                <td data-label="{{ 'Objet demande'|trans }}">{{ demandeExplications.objet }}</td>

                <td data-label="{{ 'Status'|trans }}">
                {% if demandeExplications.status == false %}

                    <span class="badge badge-warning">En attente de reponse</span>
                    {% else %}
                    <span class="badge badge-success">Repondu</span>
                </td>
                {% endif %}


                <td data-label="{{ 'actions'|trans }}" class="text-nowrap">
                    <a id="{{ demandeExplications.id }}" onclick="load({{ demandeExplications.id }})" href="{{ path('demande_explication_detail', {'id': demandeExplications.id}) }}" title="{{'Voir'|trans}}" class="btn btn-success">
                        <i class="fa fa-eye mr-2"></i>Détails
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}