{{ form_start(form, {'attr': {'id': 'form'}}) }}


    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message|trans }}
        </div>
    {% endfor %}

<div class="row">
    <div class="col-12 mb-4">
        {{ form_row(form.reference, {'attr': {'placeholder': 'Reference paiement  *'}, 'label': false}) }}
    </div>
    <div class="col-12 mb-4">
        {{ form_row(form.fournisseur, {'attr': {'placeholder': 'Fournisseur  *'}, 'label': false}) }}
    </div>
    <div class="col-12 mb-4">
        {{ form_row(form.libele, {'attr': {'placeholder': 'libele paiement  *'}, 'label': false}) }}
    </div>
    <div class="col-12 mb-4">
        {{ form_row(form.montant, {'attr': {'placeholder': 'montant paiement *'}, 'label': false}) }}
    </div>
    <div class="col-12 mb-4">
        {{ form_row(form.type, {'label':false, 'attr' : {'onchange' : 'typeversement()'}}) }}
    </div>
</div>
<div id="versement">
    <div class="form-group">
        {{ form_row(form.banque, {'label':false, 'attr' : {'placeholder':'Banque'}}) }}
    </div>
    <div class="form-group mt-4">
        {{ form_row(form.numero, {'label':false, 'attr' : {'placeholder':'Numéro'}}) }}
    </div>
</div>
{{ form_rest(form) }}


{% block scripts %}
    <script>

        function typeversement() {
            if ($('#achat_type option:selected').val() == 'Cheque' || $('#achat_type option:selected').val() == 'Virement') {
                $('#versement').show();
                $('#achat_numero').val();
            } else {
                $('#versement').hide();
                $('#achat_numero').val();
            }
        }
    </script>

{% endblock %}

{{ form_rest(form) }}
</div>

{{ form_end(form) }}
