{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}

{% block body %}
<div class="col-lg-6 mt-4 pb-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa-brands fa-product-hunt mr-2"></i>
        {{ "Détails catégorie"|trans }}
    </h3>

    <table class="table table-success-light table-bordered text-center table-hover table-striped w-100">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.description }}</td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-4 offset-md-3 mt-4 py-3 fond-7">
        <div class="centrer">
{#            <a class="btn btn-success mr-3" href="{{ path('categorie_edit', {'id': categorie.id}) }}">#}
{#                <i class="fa fa-edit"></i> Modifier</a>#}
            <a id="{{ categorie.id }}" onclick="load({{ categorie.id }})" class="btn btn-success-light text-green" href="{{ path('categorie_index') }}">
                <i class="fa fa-undo"></i>
                {{ 'Retour'|trans }}
            </a>
        </div>
    </div>

</div>
{% endblock %}
