<div class="col-lg-12 mt-3">
    {{ form_start(form, {'attr' : { 'id' : 'form'}}) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_errors(form.prenom) }}
        </div>
        <div class="col-md-6">
            {{ form_errors(form.nom) }}
        </div>
        <div class="col-md-6">
            <div class="form-group mb-4">
                {{ form_row(form.prenom, {'label': false, 'attr' : { 'placeholder' : 'Prénom *'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-4">
                {{ form_widget(form.nom, {'attr' : { 'placeholder' : 'Nom *'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            {{ form_errors(form.email) }}
        </div>
        <div class="col-md-6">
            {{ form_errors(form.phone) }}
        </div>
        <div class="col-md-6">
            <div class="form-group mb-4">
                {{ form_widget(form.email, {'attr' : { 'placeholder' : 'Email *'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-4">
                {{ form_widget(form.phone, {'attr' : { 'placeholder' : 'Telephone *'}}) }}
            </div>
        </div>
        <div class="col-md-12">
            {{ form_errors(form.adresse) }}
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
                {{ form_widget(form.adresse, {'attr' : { 'placeholder' : 'Adresse '}}) }}
            </div>
        </div>
        <div class="col-md-12">
            {{ form_errors(form.hiredate) }}
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
                {{ form_widget(form.hiredate, {'attr' : { 'title' : 'Date d\'embauche '}}) }}
            </div>
        </div>
        <div class="col-md-12">
            {{ form_errors(form.matricule) }}
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
                {{ form_widget(form.matricule, {'attr' : { 'placeholder' : 'Matricule '}}) }}
            </div>
        </div>
        <div class="col-md-12">
            {{ form_errors(form.nationalite) }}
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
                {{ form_widget(form.nationalite, {'attr' : { 'placeholder' : 'Nationalite '}}) }}
            </div>
        </div>
        <div class="col-md-12">
            {{ form_errors(form.poste) }}
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
                {{ form_widget(form.poste, {'attr' : { 'placeholder' : 'poste '}}) }}
            </div>
        </div>

        <div class="col-md-12">
            {{ form_errors(form.Date_naissance) }}
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
                {{ form_widget(form.Date_naissance, {'attr' : { 'title' : 'Date de naissance '}}) }}
            </div>
        </div>

        <div class="col-md-12">
            {{ form_errors(form.lieu_naissance) }}
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
                {{ form_widget(form.lieu_naissance, {'attr' : { 'placeholder' : 'Lieu de naissance '}}) }}
            </div>
        </div>        
        
        <div class="col-md-12">
            {{ form_errors(form.sexe) }}
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
                {{ form_widget(form.sexe, {'attr' : { 'title' : 'Sexe de l\'employé '}}) }}
            </div>
        </div>
        <div class="col-md-12">
            {{ form_errors(form.civilite) }}
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
                {{ form_widget(form.civilite, {'attr' : { 'placeholder' : 'Civilité de l\'employé '}}) }}
            </div>
        </div>
        
        <div class="col-md-12">
            {{ form_errors(form.fonction) }}
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
                {{ form_widget(form.fonction, {'attr' : { 'title' : 'Role de l\'employé '}}) }}
            </div>
        </div>


        <div class="col-md-12">
            {{ form_errors(form.password) }}
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
                {{ form_widget(form.password, {'attr' : { 'placeholder' : 'Mot de passe '}}) }}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}


    <div class="col-md-7 mt-4 pt-3 fond-7">
        <div class="centrer mb-3">
            <button type="submit" class="btn btn-shadow btn-normal btn-success mr-3">
                <i class="fa fa-save"></i>
                {{ 'Enregistrer'|trans }}
            </button>
            <a id="annule" onclick="load('annule')" href="{{ path('security_profile') }}" class="btn btn-shadow btn-normal btn-success-light">
                <i class="fa fa-undo"></i>
                {{ 'Annuler'|trans }}
            </a>
        </div>
        {{ form_end(form) }}
    </div>
</div>