<div class="row">
        <div class="col-lg-4">
            <div class="card border-green mt-3 mb-3">
                <div class="card-header bg-success-light bb-green text-green">
                    <i class="fa fa-id-card mr-2"></i>
                    {{ 'Informations personnelles'|trans }}
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr':{'id': 'form'}}) }}

                    <div class="form-group">
                        {{ form_row(form.nom, {'attr':{'placeholder':'Nom *'}, 'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.prenom, {'attr':{'placeholder':'Prénom *'}, 'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.Date_naissance, {'attr' : { 'title' : 'Date de naissance '}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.lieu_naissance, {'attr':{'placeholder':'Lieu de naissance'}, 'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.nationalite, {'attr':{'placeholder':'Nationnalité'}, 'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.phone, {'attr':{'placeholder':'Téléphone *'}, 'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email, {'attr':{'placeholder':'Adresse email'}, 'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.sexe, {'attr':{'title':'Choisir le sexe de l\'employé'}, 'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.enfant, {'attr':{'placeholder':'Nombre d\'enfant','title':'Le nombre d\'enfant de l\'employé'}, 'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.civilite, {'attr':{'placeholder':'Civilité'}, 'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.adresse, {'attr':{'placeholder':'Adresse'}, 'label':false}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-green mt-3 mb-3">
                <div class="card-header bg-success-light bb-green text-green">
                    <i class="fa fa-info-circle mr-2"></i>

                    {{ 'Informations professionnelles'|trans }}
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr':{'id': 'form'}}) }}

                    <div class="form-group">
                        {{ form_row(form.matricule, {'attr':{'placeholder':'Matricule *'}, 'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.prenom, {'attr':{'placeholder':'Prénom *'}, 'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.hiredate, {'attr' : { 'title' : 'Date d\'embauche '}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.poste, {'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.sursalaire, {'attr' : { 'title' : 'Sursalaire', 'placeholder':'Sursalaire'},'label':false}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.fonction, {'label':false}) }}
                    </div>
                    {#<div class="form-group">
                        {{ form_widget(form.password, {'attr' : { 'placeholder' : 'Mot de passe '}}) }}
                    </div>#}
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card border-danger mt-3 mb-3 focus-shadow-danger">
                <div class="card-header bg-danger-light bb-danger text-danger">
                    <i class="fa fa-info-circle mr-2"></i>
                    {{ 'Informations sensibles'|trans }}
                </div>

                <div class="card-body">
                    <div class="form-group">
                        {{ form_row(form.bloodgroup, {'attr':{'placeholder':'Renseigner le groupe sanguin', 'class':'border-danger focus-shadow-danger'}, 'label':false}) }}
                    </div>
                    <div class="alert bg-danger-light border-danger mt-4 pt-4 radius-10">
                        <div class="row">
                            <div class="col-6 mt-1 mb-1">
                                {{ form_widget(form.diabete, {'attr':{'class':'focus-shadow-danger'}, 'label':'Diabète'}) }}
                            </div>
                            <div class="col-6 mt-1 mb-1">
                                {{ form_widget(form.handicap, {'attr':{'class':'focus-shadow-danger'}, 'label':'Handicape'}) }}
                            </div>
                            <div class="col-6 mt-1 mb-1">
                                {{ form_widget(form.hypo, {'attr':{'class':'focus-shadow-danger'}, 'label':'Hypotension'}) }}
                            </div>
                            <div class="col-6 mt-1 mb-1">
                                {{ form_widget(form.hyper, {'attr':{'class':'focus-shadow-danger'}, 'label':'Hypertension'}) }}
                            </div>
                            <div class="col-6 mt-1 mb-1">
                                {{ form_widget(form.epilepsie, {'attr':{'class':'focus-shadow-danger'}, 'label':'Epileptiques'}) }}
                            </div>
                            <div class="col-6 mt-1">
                                <input class="focus-shadow-danger" type="checkbox" id="autre" value="autre"
                                    onclick="autretext()">
                                <label for="autre"> {{ 'Autre'|trans }} </label>
                            </div>
                            <div class="col-12 mb-1">
                                {{ form_widget(form.remark, {'attr':{'class':'border-danger focus-shadow-danger', 'placeholder':'Autre maladie'}, 'label':false}) }}
                            </div>
                        </div>
                    </div>
                    <div class="card border-danger mt-4 mb-3">
                        <div class="card-header bg-danger-light bb-danger text-danger">
                            {{ 'Personne à contacter'|trans }}
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                {{ form_row(form.famillyname, {'attr':{'placeholder':'Prénom(s) et nom', 'class':'border-danger focus-shadow-danger'}, 'label':false}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.famillylink, {'label':false, 'attr' : {'placeholder': 'Lien de parenté', 'class':'border-danger focus-shadow-danger'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.famillyphone, {'attr':{'placeholder':'Téléphone', 'class':'border-danger focus-shadow-danger'}, 'label':false}) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{{ form_rest(form) }}
<div class="container-fluid mt-4 mb-5 pt-3 pb-2 fond-7">
    <div class="centrer">
        {#            <div class="row">#}
        <button type="submit" class="btn btn-shadow btn-green btn-normal mb-2 mr-3" id="send">
            <i class="fa fa-save"></i>
            {{ 'Enregistrer'|trans }}
        </button>
        <button type="reset" class="btn btn-shadow btn-danger btn-normal mb-2">
            <i class="fa fa-delete-left"></i>
            {{ 'Effacer'|trans }}
        </button>
        {{ form_rest(form) }}
        {{ form_end(form) }}
        {#            </div>#}
    </div>
</div>

{% block script %}
<script>

{{ include('scripts/employenew.html.twig') }}

</script>
{% endblock %}