{% extends 'rh.html.twig' %}
{% block title %} {{ "Tous les employes"|trans }} - GNT Pharma {% endblock %}
{% block administration %}active{% endblock %}
{% block employe %}active{% endblock %}
{% block all_employe %}active{% endblock %}
{% block body %}
    <div class="container-fluid mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-users mr-2"></i>
            {{ "Tous les employes"|trans }}
        </h3>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black mb-5">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ message|trans }}
            </div>
        {% endfor %}
        <a href="{{ path('employe_new') }}" class="btn btn-green mb-4">
            <i class="fa fa-plus"></i>
            {{ "Ajouter employé"|trans }}
        </a>
        <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
            <thead>
            <tr>
                <th>{{ 'Matricule'|trans }}</th>
                <th>{{ 'Nom'|trans }}</th>
                <th>{{ 'Prénom'|trans }}</th>
                <th class="text-center">{{ 'Age'|trans }}</th>
                <th class="text-center">{{ 'Sexe'|trans }}</th>
                <th>{{ 'Téléphone'|trans }}</th>
                <th>{{ 'Adresse'|trans }}</th>
                <th>{{ 'Poste'|trans }}</th>
                <th>{{ 'Département'|trans }}</th>
                <th class="text-center">{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for employe in employes %}
                <tr>
                <td data-label="{{ 'Matricule'|trans }}">
                    {{ employe.matricule }}
                </td>
                <td data-label="{{ 'Nom'|trans }}">
                    {{ employe.nom }}
                </td>
                <td data-label="{{ 'Prénom'|trans }}">
                    {{ employe.prenom }}
                </td>
                <td data-label="{{ 'Age'|trans }}" class="text-nowrap">
                    {{ 'now'|date('Y') - employe.dateNaissance|date('Y') }}
                    {{ "ans"|trans }}
                </td>
                <td data-label="{{ 'Sexe'|trans }}" class="text-center">
                    {{ employe.sexe }}
                </td>
                <td data-label="{{ 'Téléphone'|trans }}">
                    {{ employe.phone }}
                </td>
                <td data-label="{{ 'Adresse'|trans }}">
                    {{ employe.adresse }}
                </td>
                <td data-label="{{ 'Poste'|trans }}">
                    {{ employe.poste ? employe.poste.nom: '' }}
                </td>
                <td data-label="{{ 'Département'|trans }}">
                    {{ employe.poste ? employe.poste.departement.nom: '' }}
                </td>
                <td data-label="{{ 'Action'|trans }}" class="text-center">
                    <a href="{{ path('employe_show', {'id': employe.id}) }}" class="btn btn-green mb-1 mr-2"
                       title="{{ "Voir"|trans }}">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('employe_edit', {'id': employe.id}) }}" class="btn btn-success-light mb-1"
                       title="{{ "Modifier"|trans }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            {% else %}
                <tr>
                    <td class="text-center" colspan="10">{{ 'Aucun employé enregistré'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}