{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block employe %}active{% endblock %}
{% block all_employe %}active{% endblock %}
{% block body %}
<div class="container-fluid mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-money-bill mr-2"></i>
        {{ "Listes des employés"|trans }}
    </h3>


    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>{{ 'Civilité'|trans }}</th>
                <th>{{ 'Prénom'|trans }}</th>
                <th>{{ 'Nom'|trans }}</th>
                <th>{{ 'Date de naissance'|trans }}</th>
                <th>{{ 'Lieu de naissance'|trans }}</th>
                <th>{{ 'Sexe'|trans }}</th>
                <th>{{ 'Téléphone'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Adresse'|trans }}</th>
                <th>{{ 'Département'|trans }}</th>
                <!-- <th>{{ 'actions'|trans }}</th> -->
            </tr>
        </thead>
        <tbody>
            {% for employe in employe %}
            <tr>
                <td>{{ employe.civilite }}</td>
                <td>{{ employe.prenom }}</td>
                <td>{{ employe.nom }}</td>
                <td data-label="{{ 'Date de naissance'|trans }}">{{ employe.datenaissance ? employe.datenaissance|date('Y-m-d') : '' }}</td>
                <td>{{ employe.lieunaissance }}</td>
                <td>{{ employe.sexe }}</td>
                <td>{{ employe.phone }}</td>
                <td>{{ employe.email }}</td>
                <td>{{ employe.adresse }}</td>
                <td>{{ employe.departement ? employe.departement.nom }}</td>
                <!-- <td>action</td> -->
                {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}