{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block retour_stock %}active{% endblock %}
{% block body %}
    <div class="container mt-4 pb-4 fond-7">
        <h3 class="mt-4 mb-3 text-bold">
            <i class="fa fa-shop mr-2"></i>
            {{ "Retour Stock"|trans }}
        </h3>
        <div id="message">

        </div>
        <div class="col-6 fond-7">
            <table class="table table-success-light table-bordered table-hover table-striped mt-3 w-100">
                <thead>
                <tr>
                    <th>{{ 'N° Retour'|trans }}</th>
                    <th>{{ 'Date retour'|trans }}</th>
                    <th>{{ 'Client'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ retour.id }}</td>
                    <td>{{ retour.date|date('d/m/Y') }}</td>
                    <td> {{ retour.commande.user.nom }}</td>


                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-5">

                {#                {% set inlist = [] %}#}
                {#                {% for produit in panier %}#}

                {#                    {% set inlist = inlist|merge([produit['id']]) %}#}
                {#                {% else %}#}

                {#                {% endfor %}#}

                <table class="table table-success-light table-bordered table-hover table-striped text-center w-100"
                       id="liste">
                    <thead>
                    <tr>
                        <th>{{ "Référence"|trans }}</th>
                        <th class="text-left">{{ "Désignation"|trans }}</th>
                        <th>{{ "N° lot"|trans }}</th>
                        {#                        <th>{{ "Pereption"|trans }}</th>#}
                        <th>{{ "Motif"|trans }}</th>
                        <th>{{ "Qté retournée"|trans }}</th>
                        {% if is_granted("ROLE_ADMIN") %}
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for retourproduit in retourproduits %}
                        <tr id="listprod{{ retourproduit.produit.id }}">
                            <td>{{ retourproduit.produit.reference }}</td>
                            <td class="text-left">{{ retourproduit.produit.desigantion }}</td>
                            <td>{{ retourproduit.lot }}</td>
                            <td>{{ retourproduit.motif }}</td>
                            <td>{{ retourproduit.quantite }}</td>

                            <td>
                                {% if is_granted("ROLE_ADMIN") %}
                                    {% if retourproduit.reapprovisionner == 0 %}
                                        <span id="spn{{ retourproduit.produit.id }}{{ retourproduit.lot }}">
                                         <button type="button"
                                                 id="btn{{ retourproduit.produit.id }}{{ retourproduit.lot }}"
                                                 class="btn btn-success mt-2"
                                                 onclick="retour_reapprovisionner({{ retour.id }}, {{ retourproduit.produit.id }},{{ retourproduit.lot }},'{{ retourproduit.peremption|date('Y-m-d') }}',{{ retourproduit.quantite }})"><i
                                                     class="fas fa-warehouse"></i><i
                                                     class="fa fa-arrow-left"></i>  {{ "Réapprovisionner"|trans }}</button>
                                        </span>
                                    {% endif %}
                                    {% if retourproduit.valider == 0 %}
                                        <div id="spnvalid{{ retourproduit.produit.id }}{{ retourproduit.lot }}">


                                            <button type="button" data-toggle="modal" data-target="#choix"
                                                    id="valid{{ retourproduit.produit.id }}{{ retourproduit.lot }}"
                                                    class="btn btn-success mt-2">
                                                <i
                                                        class="fas fa-check"></i>
                                                {{ "Valider remboursement"|trans }}
                                            </button>
                                            <div class="modal fade mt-5" id="choix" role="dialog">
                                                <div class="modal-dialog modal-md" role="document">
                                                    <div class="modal-content radius-10">
                                                        <div class="modal-header bb-green">
                                                            <h5 class="mt-3 text-center text-bold">
                                                                {{ 'Validation remboursement'|trans }}
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4 class="text-center text-bold text-dark mt-4">
                                                                {{ 'Par quel moyen voulez-vous faire le remboursement ?'|trans }}
                                                            </h4>
                                                            <div class="col-12 mt-5 mb-4">
                                                                <div class="centrer">
                                                                    <div class="row">
                                                                        <button type="button"
                                                                                class="btn btn-shadow btn-green mr-3"
                                                                                onclick="retour_valider_remboursement({{ retour.id }}, {{ retourproduit.produit.id }},{{ retourproduit.lot }})">
                                                                            &emsp;
                                                                            <i class="fa fa-truck-fast fa-lg"></i>
                                                                            {{ 'Nouvelle livraison'|trans }}
                                                                            &emsp;
                                                                        </button>
                                                                        <button type="button"
                                                                                class="btn btn-shadow btn-primary"
                                                                                onclick="retour_creer_avoir({{ retourproduit.id }}, {{ retourproduit.produit.id }},{{ retourproduit.lot }})">
                                                                            &emsp;
                                                                            <i class="fa fa-sack-dollar fa-lg"></i>
                                                                            {{ 'Créer avoir'|trans }}
                                                                            &emsp;
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    {% endif %}
                                {% endif %}
                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">{{ "Aucun retour"|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function retour_reapprovisionner(id, produit, lot, peremption, quantite) {

            if (confirm("voulez-vous vraiment réapprovisionner ce produit?")) {
                $("#btn" + produit + lot).html("<i class='fa-solid fa-spinner fa-spin-pulse'></i>");
                $.ajax({
                    type: "POST",
                    url: "{{ path('stock_retour_reapprovisionner') }}",
                    data: {produit: produit, quantite: quantite, lot: lot, peremption: peremption, retour: id},
                    success: function (data) {
                        $("#message").html("<div class=\"alert alert-success alert-dismissible fade show radius-10 shadow-black\">\n" +
                            "                <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">\n" +
                            "                    &times;\n" +
                            "                </button>" + data['id'] + "</div>");
                        $("#spn" + produit + lot).html("");
                    },
                    error: function () {
                        alert("{{ 'La requête n’a pas abouti'|trans }}");
                    }
                });
            }
        }

        function retour_valider_remboursement(id, produit, lot) {

            if (confirm("voulez-vous vraiment?")) {
                $("#valid" + produit + lot).html("<i class='fa-solid fa-spinner fa-spin-pulse'></i>");
                $.ajax({
                    type: "POST",
                    url: "{{ path('stock_retour_valider_remboursement') }}",
                    data: {produit: produit, lot: lot, retour: id},
                    success: function (data) {
                        $("#message").html("<div class=\"alert alert-success alert-dismissible fade show radius-10 shadow-black\">\n" +
                            "                <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">\n" +
                            "                    &times;\n" +
                            "                </button>" + data['id'] + "</div>");
                        $("#spnvalid" + produit + lot).html("");
                    },
                    error: function () {
                        alert("{{ 'La requête n’a pas abouti'|trans }}");
                    }
                });
            }
        }

        function retour_creer_avoir(id, produit, lot) {

            if (confirm("voulez-vous vraiment?")) {
                $("#valid" + produit + lot).html("<i class='fa-solid fa-spinner fa-spin-pulse'></i>");
                $.ajax({
                    type: "POST",
                    url: "{{ path('stock_retour_creer_avoir') }}",
                    data: {retour: id},
                    success: function (data) {
                        $("#message").html("<div class=\"alert alert-success alert-dismissible fade show radius-10 shadow-black\">\n" +
                            "                <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">\n" +
                            "                    &times;\n" +
                            "                </button>" + data['id'] + "</div>");
                        $("#spnvalid" + produit + lot).html("");
                    },
                    error: function () {
                        alert("{{ 'La requête n’a pas abouti'|trans }}");
                    }
                });
            }
        }
    </script>


{% endblock %}