{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block retour_stock %}active{% endblock %}
{% block body %}
    <div class="container mt-4 pb-4 fond-7">
        <h3 class="mt-4 mb-3 text-bold">
            <i class="fa fa-shop mr-2"></i>
            {{ "Retour Stock"|trans }}
        </h3>
        <div id="message">

        </div>
        <div class="col-6 fond-7">
            <table class="table table-success-light table-bordered table-hover table-striped mt-3 w-100">
                <thead>
                <tr>
                    <th>{{'N° Retour'|trans}}</th>
                    <th>{{'Date retour'|trans}}</th>
                    <th>{{ 'Client'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ retour.id }}</td>
                    <td>{{ retour.date|date('d/m/Y') }}</td>
                    <td> {{ retour.commande.user.nom }}</td>


                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-5">

                {#                {% set inlist = [] %}#}
                {#                {% for produit in panier %}#}

                {#                    {% set inlist = inlist|merge([produit['id']]) %}#}
                {#                {% else %}#}

                {#                {% endfor %}#}

                <table class="table table-success-light table-bordered table-hover table-striped text-center w-100"
                       id="liste">
                    <thead>
                    <tr>
                        <th>{{ "Référence"|trans }}</th>
                        <th class="text-left">{{ "Désignation"|trans }}</th>
                        <th>{{ "N° lot"|trans }}</th>
                        {#                        <th>{{ "Pereption"|trans }}</th>#}
                        <th>{{ "Motif"|trans }}</th>
                        <th>{{ "Qté retournée"|trans }}</th>
                        {% if is_granted("ROLE_ADMIN") %}
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for retourproduit in retourproduits %}
                        <tr id="listprod{{ retourproduit.produit.id }}">
                            <td>{{ retourproduit.produit.reference }}</td>
                            <td class="text-left">{{ retourproduit.produit.desigantion }}</td>
                            <td>{{ retourproduit.lot }}</td>
                            <td>{{ retourproduit.motif }}</td>
                            <td>{{ retourproduit.quantite }}</td>

                            <td>
                                {% if is_granted("ROLE_ADMIN") %}
                                    {% if retourproduit.reapprovisionner == 0 %}
                                        <span id="spn{{ retourproduit.produit.id }}{{ retourproduit.lot }}">
                                         <button type="button" id="btn{{ retourproduit.produit.id }}{{ retourproduit.lot }}"
                                        class="btn btn-success"
                                        onclick="retour_reapprovisionner({{ retour.id }}, {{ retourproduit.produit.id }},{{ retourproduit.lot }},'{{ retourproduit.peremption|date('Y-m-d') }}',{{ retourproduit.quantite }})"><i
                                            class="fas fa-warehouse"></i><i
                                            class="fa fa-arrow-left"></i>  {{ "Réapprovisionner"|trans }}</button>
                                        </span>
                                    {% endif %}
                                    {% if retourproduit.valider == 0 %}
                                        <span id="spnvalid{{ retourproduit.produit.id }}{{ retourproduit.lot }}">
                                          <button type="button" id="valid{{ retourproduit.produit.id }}{{ retourproduit.lot }}"
                                        class="btn btn-success"
                                        onclick="retour_valider_remboursement({{ retour.id }}, {{ retourproduit.produit.id }},{{ retourproduit.lot }})"><i
                                            class="fas fa-check"></i>{{ "valider remboursement"|trans }}</button>
                                         </span>
                                    {% endif %}
                                {% endif %}
                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">{{ "Aucun retour"|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function retour_reapprovisionner(id, produit, lot, peremption, quantite) {

            if (confirm("voulez-vous vraiment réapprovisionner ce produit?")) {
                $("#btn" + produit + lot).html("<i class='fa-solid fa-spinner fa-spin-pulse'></i>");
                $.ajax({
                    type: "POST",
                    url: "{{ path('stock_retour_reapprovisionner') }}",
                    data: {produit: produit, quantite: quantite, lot: lot, peremption: peremption, retour: id},
                    success: function (data) {
                        $("#message").html("<div class=\"alert alert-success alert-dismissible fade show radius-10 shadow-black\">\n" +
                            "                <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">\n" +
                            "                    &times;\n" +
                            "                </button>" + data['id'] + "</div>");
                        $("#spn" + produit + lot).html("");
                    },
                    error: function () {
                        alert("{{ 'La requête n’a pas abouti'|trans }}");
                    }
                });
            }
        }

        function retour_valider_remboursement(id, produit, lot) {

            if (confirm("voulez-vous vraiment?")) {
                $("#valid" + produit + lot).html("<i class='fa-solid fa-spinner fa-spin-pulse'></i>");
                $.ajax({
                    type: "POST",
                    url: "{{ path('stock_retour_valider_remboursement') }}",
                    data: {produit: produit, lot: lot, retour: id},
                    success: function (data) {
                        $("#message").html("<div class=\"alert alert-success alert-dismissible fade show radius-10 shadow-black\">\n" +
                            "                <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">\n" +
                            "                    &times;\n" +
                            "                </button>" + data['id'] + "</div>");
                        $("#spnvalid" + produit + lot).html("");
                    },
                    error: function () {
                        alert("{{ 'La requête n’a pas abouti'|trans }}");
                    }
                });
            }
        }


    </script>


{% endblock %}