{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block stock %}active{% endblock %}
{% block etat_stock %}active{% endblock %}


{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-shopping-cart mr-2"></i>
            {{ "Etat stock Produits"|trans }}
        </h3>
        <ul class="nav nav-tabs mb-4">
{% if is_granted('ROLE_STOCK') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('stock_index') }}">
                    {{ 'Disponible'|trans }}
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('stock_surveiller') }}">
                    {{'à surveiller'|trans}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('stock_rupture') }}">
                    {{ 'En rupture'|trans }}
                </a>
            </li>
            {% if is_granted('ROLE_STOCK') %}
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        {{ 'Péremption Imminente'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>

        <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
            <thead>
            <tr>
                <th>{{ 'Reference'|trans }}</th>
                <th>{{ 'Désignation'|trans }}</th>
                <th>{{ 'Fabriquant'|trans }}</th>
                <th>{{'N° Lot'|trans}}</th>
                <th>{{'Péremption'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.produit.reference }}</td>
                    <td>{{ stock.produit.desigantion }}</td>
                    <td>{{ stock.produit.fabriquant }}</td>
                    <td>{{ stock.lot }}</td>
                    <td>{{ stock.peremption|date('d/m/Y') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
