{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block stock %}active{% endblock %}
{% block etat_stock %}active{% endblock %}


{% block body %}
    <div class="col-lg-8 mt-4 pb-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa-brands fa-product-hunt mr-2"></i>
            {{ "Détails Produit"|trans }}
        </h3>

        <table class="table table-success-light table-bordered table-hover table-striped w-100">
            <tbody>

            <tr>
                <th class="w-25">
                    {{'Code Produit'|trans }}
                </th>
                <td>{{ produit.reference }}</td>
                <th class="text-center">
                    {{'Quantite en stock'|trans }}
                </th>
            </tr>

            <tr>
                <th>
                    {{'Designation'|trans }}
                </th>
                <td>{{ produit.desigantion }}</td>
                <td rowspan="5" class="text-center text-bolder w-25">{{ produit.stock|number_format(0, '' , ' ') }}</td>
            </tr>
            <tr>
                <th>{{ 'Prix cession'|trans }}</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>{{ 'Prix Public'|trans }}</th>
                <td>{{ produit.prixpublic }}</td>
            </tr>
            <tr>
                <th>{{ 'Mincommande'|trans }}</th>
                <td>{{ produit.mincommande }}</td>
            </tr>
            <tr>
                <th>{{ 'Fabriquant'|trans }}</th>
                <td>{{ produit.fabriquant }}</td>
            </tr>

            <tr></tr>



            </tbody>
        </table>

        <table class="table table-success-light table-bordered table-hover table-striped text-center w-100">
            <thead>
            <tr>
                <th class="w-25">N° Lot</th>
                <th>{{ 'Date peremption'|trans }}</th>
                <th class="w-25">{{'Quantité'|trans}}</th>
            </tr>

            </thead>
            <tbody>
            {% for produit in stock %}

                <tr>
                    <td>{{ produit.lot }}</td>
                    <td>{{ produit.peremption|date('d/m/Y') }}</td>
                    <td>{{ produit.quantite|number_format(0, '' , ' ') }}</td>
                </tr>
            {% else %}
            {% endfor %}
            </tbody>
        </table>

        <div class="col-md-4 offset-md-3 mt-4 py-3 fond-7">
            <div class="centrer">

                <a id="{{ produit.id }}" onclick="load({{ produit.id }})" class="btn btn-success ml-3" href="{{ path('stock_index') }}">
                    <i class="fa fa-undo"></i>
                    {{ 'Retour'|trans }}
                </a>

                <a id="{{ produit.id }}" onclick="load({{ produit.id }})" class="btn btn-success ml-3" href="{{ path('stock_produit_show_print', {'id': produit.id}) }}">
                    <i class="fa fa-print"></i>
                    {{ 'Imprimer'|trans }}
                </a>
            </div>
        </div>


    </div>
{% endblock %}
