{% extends 'admin.html.twig' %}
{% block title %} {{ "Retour stock"|trans }} - GNT Pharma {% endblock %}
{% block stock %}active{% endblock %}
{% block retour_stock %}active{% endblock %}
{% block new_retour %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fas fa-warehouse mr-2"></i><i class="fas fa-arrow-left mr-2"></i>
            {{ "Liste des Retours de produits"|trans }}
        </h3>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ message|trans }}
            </div>
        {% endfor %}
        <table class="table table-success-light table-bordered table-hover table-striped w-100 mt-4" id="liste">
            <thead>
            <tr>
                <th>N° Retour</th>
                <th>N° Commande</th>
                <th>Date de retour</th>
                <th>Client </th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            {% for retour in retours %}
                <tr>
                    <td>{{ retour.id }}</td>
                    <td>{{ retour.commande.id }}</td>
                    <td>{{ retour.date|date('d/m/Y') }}</td>
                    <td>{{ retour.commande.user.nom }}</td>
                    <td>
                        <a href="{{ path('stock_retour_history_show', {'id' : retour.id}) }}" class="btn btn-success">
                            <i class="fa fa-list"></i> Details
                        </a>
                    </td>


                </tr>

            {% else %}
                <tr>
                    <td colspan="5">Aucune commande</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
