{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block order %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-shopping-cart mr-2"></i>
            {{ "Etat stock Produits"|trans }}
        </h3>
        <ul class="nav nav-tabs mb-4">
{% if is_granted('ROLE_STOCK') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('stock_index') }}">Disponible</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('stock_surveiller') }}">à surveiller</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">En rupture</a>
            </li>
        </ul>

        <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
            <thead>
            <tr>
                <th>Reference</th>
                <th>Designation</th>
                <th>Fabriquant</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.reference }}</td>
                    <td>{{ produit.desigantion }}</td>
                    <td>{{ produit.fabriquant }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
