<!DOCTYPE html>

<title>Sanction</title>

{% block body %}
    <h1>Sanction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sanction.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sanction.nom }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ sanction.dateCreation ? sanction.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sanction.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sanction_index') }}">back to list</a>

    <a href="{{ path('sanction_edit', {'id': sanction.id}) }}">edit</a>

    {{ include('sanction/_delete_form.html.twig') }}
{% endblock %}
