{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande-Reclamation"|trans }} - GNT Pharma {% endblock %}
{% block reclamation %} active{% endblock %}


{% block body %}
<div class="container mt-4 py-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-rotate mr-2"></i>
        {{ 'Réclamations'|trans }}
    </h3>
    <table class="table table-success-light table-bordered table-hover table-striped mb-4 w-100">
        <thead>
        <tr>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'Client'|trans }}</th>
            <th>{{'N° Commande'|trans}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ reclamation.creation ? reclamation.creation|date('Y-m-d') : '' }}</td>
            <td>{{ reclamation.commande.user.nom }}</td>
            <td>
                <a type="button"
                        data-toggle="modal" data-target="#modal">
                    {{ reclamation.commande.id }}
                </a>
            </td>
        </tr>
        <tr>
            <th>{{ 'Message'|trans }}</th>
            <td colspan="2">{{ reclamation.commentaire }}</td>
        </tr>

    </table>
</div>

<div class="container py-4">
    {% for reponse in reclamation.reponses %}
        <div class="row mt-4">
            {% if 'ROLE_CLIENT' in reponse.user.roles %}

                <div class="col-md-7  py-4 fond-7">
                    {{ reponse.user.nom  }} | {{ reponse.date|date("d/m/Y") }}
                    <hr class="text-secondaire">
                    {{ reponse.message }}
                </div>
                <div class="col-md-5"> </div>

            {% else %}
                <div class="col-md-5"> </div>
                <div class="col-md-7  py-4 fond-7">
                    {{ reponse.user.nom  }} | {{ reponse.date|date("d/m/Y") }}
                    <hr class="text-secondaire">
                    {{ reponse.message }}
                </div>
            {% endif %}
        </div>
    {% else %}
    {% endfor %}
</div>

    {% if reclamation.usercloture is null %}

    <div class="col-md-6 offset-md-3 mt-4 mb-5 pt-3 pb-2 fond-7">
        <div class="centrer">

            <a href="{{ path('reponse_new', {'reclamation' : reclamation.id }) }}" class="btn btn-success">
                <i class="fa fa-edit"></i>
                {{'Répondre'|trans}}</a>

            <a href="{{ path('reclamation_cloturer', {'reclamation' : reclamation.id }) }}" class="btn btn-success ml-3 float-right">
                <i class="fa fa-edit"></i>
                {{ 'Clôturer'|trans }}</a>

        </div>
    </div>
    {% else %}

        <div class="col-md-6 offset-md-3 mt-4 mb-5 pt-3 pb-2 fond-7">
            <div class="centrer">

                {{' Clôturer le'|trans }} {{ reclamation.cloture|date('d/m/Y') }}


            </div>
        </div>

    {% endif %}

    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg text-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        </h1>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-5">
                    <div class="row justify-content-end">
                        <div class="col-lg-4">
                            <table class="table table-success-light table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>{{ 'Numéro Commande'|trans }}</th>
                                    <th>{{ 'Date de commande'|trans }} </th>

                                </tr>
                                </thead>
                                <tbody>
                                <td>{{ reclamation.commande.id }}</td>
                                <td>{{ reclamation.commande.date|date('d/m/Y') }}</td>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <table class="table table-success-light table-bordered table-hover table-striped w-100 text-center">
                        <thead>
                        <tr>
                            <th>{{ 'Référence'|trans }}</th>
                            <th>{{ 'Désignation'|trans }}</th>
                            <th>{{ 'Quantité Commande'|trans }}</th>
                            <th>{{'Quantité livrée'|trans}}</th>
                            <th>{{'Quantité restante'|trans}}</th>
                            <th>{{ 'Date de Livraison'|trans }}</th>
                            <th>{{'N° Bordereau'|trans}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commande in commandes %}
                        <tr>
                            <td>{{ commande.produit.reference }}</td>
                            <td>{{ commande.produit.desigantion }}</td>
                            <td>{{ commande.quantitecommander }}</td>
                            <td class="text-center">
                                {{ commande.quantitelivrer }}
                            </td>
                            <td class="text-center">
                                {{ commande.restealivrer }}
                            </td>
                            <td>{{ commande.date|date('d/m/Y') }}</td>
                            <td>{{ commande.livrer.id }}</td>
                            {% else %}
                            {% endfor %}
                    </table>
                </div>
                <div class="modal-footer px-5 py-4">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        {{ 'Fermer'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
