{% extends 'admin.html.twig' %}
{% block title %} {{ "Voir les avoir"|trans }} - GNT Pharma {% endblock %}
{% block officine %}active{% endblock %}
{% block all_avoir %}active{% endblock %}


{% block body %}
<div class="container mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-money-bill mr-2"></i>
        {{ "Listes des avoirs"|trans }}
    </h3>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message|trans }}
        </div>
    {% endfor %}

    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>Client</th>
                <th>Date</th>
                <th>Creer par</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avoir in avoirs %}
            <tr>
                <td>{{ avoir.client.nom }}</td>
                <td>{{ avoir.date ? avoir.date|date('d/m/Y') : '' }}</td>
                <td>{{ avoir.admin.nom }}</td>
                <td>{{ avoir.Montant|number_format(0, '' , ' ') }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('avoir_show', {'id': avoir.id}) }}"><i class="fa fa-list"></i> Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('avoir_new') }}" class="btn btn-success mb-3">Create new</a>#}
</div>
{% endblock %}
