{% extends 'layout.html.twig' %}
{% block title %} {{ "Contactez nous"|trans }} - GNT Pharma {% endblock %}
{% block contact %}active{% endblock %}
{% block body %}
    <div class="container-fluid py-5 mb-5 page-header">
        <div class="container">
            <div class="row justify-content-center mt-lg-5">
                <div class="col-lg-10 text-center mt-lg-5">
                    <h1 class="display-5 text-white fw-bold mt-lg-5 mb-4">
                        {{ 'Contactez-nous'|trans }}
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="{{ path('Accueil') }}">
                                    {{ "Accueil"|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ 'Contactez-nous'|trans }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mb-5 py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form class="text-dark">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">{{ 'Votre Nom'|trans }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">{{ 'Votre Email'|trans }}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">{{ 'Sujet'|trans }}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message"
                                              style="height: 150px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primaire w-100 py-3" type="submit">{{ 'Envoyer'|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-md-12 px-4 wow fadeInUp" data-wow-delay="0.3s">
                    <iframe class="mt-4 rounded-5"
                            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3980.5843411603582!2d11.554648!3d3.898875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zM8KwNTMnNTYuMCJOIDExwrAzMycxNi43IkU!5e0!3m2!1sfr!2ssn!4v1704385438329!5m2!1sfr!2ssn"
                            style="border:0; width: 100%; height:95%; box-sizing: border-box" allowfullscreen>
                    </iframe>
                </div>
                <div class="col-lg-4 col-md-12 fw-medium px-4 wow fadeInUp" data-wow-delay="0.5s">
                    <h3 class="text-dark animated slideInDown">{{ 'Contactez-nous'|trans }}</h3>
                    <p class="text-dark">
                        {{ 'Merci de partager vos impressions avec Atlantis.'|trans }}
                        {{ 'Vous pouvez nous écrire pour n\'importe quel besoin et nous nous ferons un plaisir de l\'étudier.'|trans }}
                    </p>
                    <p class="mb-4 fw-medium">
                        <i class="fa fa-map-marker-alt fa-2x me-2 text-primaire"></i>
                        BP : 3582 Yaoundé – Cameroun,<br>
                        <span class="ms-4">NGOUSSO Montée Éleveur immeuble Sainte Marie</span>
                    </p>
                    <p class="mb-4">
                        <a href="tel:+237697149412" class="text-dark fw-medium">
                            <i class="fa fa-phone fa-2x me-2 text-primaire"></i>
                            +237 69 71 49 4 12
                        </a>
                        <a href="tel:+237675247865" class="text-dark fw-medium">

                           / +237 67 52 47 865
                        </a>
                    </p>
                    <p class="mb-4">
                        <a href="mailto:info@gntpharma-cameroun.com" class="text-dark fw-medium">
                            <i class="fa fa-envelope fa-2x me-2 text-primaire"></i>
                            info@gntpharma-cameroun.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}