{{ form_start(form, {'attr': {'id': 'form'}}) }}

<div class="col-lg-5 offset-lg-2 mt-4 fond-7 pb-5 pt-3 px-5">
    <h4 class="mb-3">
        <i class="fa-brands fa-product-hunt mr-2"></i><i class="fa fa-plus mr-2"></i>
        {{ 'Nouvelle dépense'|trans }}
    </h4>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message|trans }}
        </div>
    {% endfor %}

    <div class="row">
 
        <div class="col-12 mb-4">
            {{ form_row(form.libelle, {'attr': {'placeholder': 'Libellé *'}, 'label': false}) }}
        </div>

        <div class="col-12 mb-4">
            {{ form_row(form.categorie, {'attr': {'placeholder': 'Catégorie *'}, 'label': false}) }}
        </div>

        <div class="col-12 mb-4">
            {{ form_row(form.montant, {'attr': {'placeholder': 'Montant *'}, 'label': false}) }}
        </div>

        <div class="col-12 mb-4">
            {{ form_row(form.reglement, {'attr': {'placeholder': 'Mode de règlement *'}, 'label': false}) }}
        </div>
    </div>

    {{ form_rest(form) }}
</div>

{{ form_end(form) }}
