{% extends 'admin.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block finance %}active{% endblock %}
{% block depense %}active{% endblock %}
{% block all_depense %}active{% endblock %}
{% block body %}
<div class="container mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-money-bill mr-2"></i>
        {{ "Listes des depenses"|trans }}
    </h3>


    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>{{ 'Compte'|trans }}</th>
                <th>{{ 'Libellé'|trans }}</th>
                <th>{{ 'Date'|trans }}</th>
                <th>{{ 'Ligne'|trans }}</th>
                <th>{{ 'Montant'|trans }}</th>
                <th>{{ 'Reglement'|trans }}</th>
                <th>{{ 'Statut'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for depense in depenses %}
            <tr>
                <td data-label="Compte">{{ depense.compte }}</td>
                <td data-label="{{ 'Libellé'|trans }}">{{ depense.libelle }}</td>
                <td data-label="{{ 'Date'|trans }}">{{ depense.date ? depense.date|date('Y-m-d H:i:s') : '' }}</td>
                <td data-label="{{ 'Ligne'|trans }}">{{ depense.categorie ?  depense.categorie.nom : ''}}</td>
                <td data-label="{{ 'Montant'|trans }}">{{ depense.montant|number_format(0, '' , ' ') }}</td>
                <td data-label="{{ 'Réglement'|trans }}">{{ depense.type }}</td>
                <td data-label="{{ 'Status'|trans }}">{{ depense.statut }}</td>
                <td data-label="{{ 'actions'|trans }}" class="text-nowrap">
                    <a id="{{ depense.id }}" onclick="load({{ depense.id }})" href="{{ path('depense_show', {'id': depense.id}) }}" title="{{'Voir'|trans}}" class="btn btn-success">
                    <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('depense_edit', {'id': depense.id}) }}" title="{{'Modifier'|trans}}" class="btn btn-success-light">
                    <i class="fa fa-edit"></i>
                    </a>            
                    {{ include('depense/_delete_form.html.twig') }}
                </td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
