{% extends 'admin.html.twig' %}
{% block body %}
<div class="container mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-money-bill mr-2"></i>
        {{ "Listes des depenses"|trans }}
    </h3>


    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>{{ 'Libelle'|trans }}</th>
                <th>{{ 'Date'|trans }}</th>
                <th>{{ 'Ligne'|trans }}</th>
                <th>{{ 'Montant'|trans }}</th>
                <th>{{ 'Reglement'|trans }}</th>
                <th>{{ 'Statut'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for depense in depenses %}
            <tr>
                <td>{{ depense.libelle }}</td>
                <td>{{ depense.date ? depense.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ depense.categorie }}</td>
                <td>{{ depense.montant }}</td>
                <td>{{ depense.reglement }}</td>
                <td>{{ depense.statut }}</td>
                <td class="text-nowrap">
                    <a id="{{ depense.id }}" onclick="load({{ depense.id }})" href="{{ path('depense_show', {'id': depense.id}) }}" title="{{'Voir'|trans}}" class="btn btn-success">
                    <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('depense_edit', {'id': depense.id}) }}" title="{{'Modifier'|trans}}" class="btn btn-success-light">
                    <i class="fa fa-edit"></i>
                    </a>            
                    {{ include('depense/_delete_form.html.twig') }}
                </td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('depense_new') }}">Create new</a>
{% endblock %}
