<!DOCTYPE html>

<title>ResultatEvaluation index</title>

{% block body %}
    <h1>ResultatEvaluation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ScoreCritere</th>
                <th>CommentaireCritere</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resultat_evaluation in resultat_evaluations %}
            <tr>
                <td>{{ resultat_evaluation.id }}</td>
                <td>{{ resultat_evaluation.scoreCritere }}</td>
                <td>{{ resultat_evaluation.commentaireCritere }}</td>
                <td>
                    <a href="{{ path('resultat_evaluation_show', {'id': resultat_evaluation.id}) }}">show</a>
                    <a href="{{ path('resultat_evaluation_edit', {'id': resultat_evaluation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('resultat_evaluation_new') }}">Create new</a>
{% endblock %}
