{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Gestion des clients"|trans }} - GNT Pharma {% endblock %}
{% block ag %} class="btn btn-primary mt-3" {% endblock %}

{% block body %}
    <div class="container mt-4 mb-4 p-4 fond-7">
        <h3 class="text-bold">
            <i class="fa fa-user mr-2"></i>
            {{ "Gestion des clients"|trans }}
        </h3>

        {% for message in app.flashes('notice') %}
            <div class="col-lg-12 mt-5">
                <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message|trans }}
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-lg-12 mt-5">
                <table class="table table-success-light table-bordered table-hover table-striped" id="liste">
                    <thead>
                    <tr>
                        <th>
                            {{ 'Nom et Prénom'|trans }}
                        </th>
                        <th>
                            {{ 'Téléphone'|trans }}
                        </th>
                        <th>
                            {{ 'Email'|trans }}
                        </th>
                        <th class="text-center">
                            {{ 'Statut'|trans }}
                        </th>
                        <th class="text-center">
                            {{ 'Actions'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    {% if user != app.user %}
                    <tr>
                        <td data-label="{{ 'Nom et Prénom'|trans }}">
                            {{ user.nom|upper }} {{ user.prenom }}
                        </td>
                        <td data-label="{{ 'Téléphone'|trans }}">
                            {{ user.phone }}
                        </td>
                        <td data-label="{{ 'email'|trans }}">
                            {{ user.email }}
                        </td>
                        <td data-label="Statut" class="text-center" id="statut">
                            {% if user.enabled == 1 %}
                                {{ "Actif"|trans }}
                            {% else %}
                                {{ "Inactif"|trans }}
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {#<button class="btn btn-normal btn-danger mb-2 mr-2 l-5" onclick="del({{ user.id }})"
                                    id="btn">
                                <i class="fa fa-trash"></i>
                                {{ 'Supprimer'|trans }}
                            </button>#}

                            {% if user.enabled == 1 %}
                                <button class="btn btn-danger" id="btn{{ user.id }}" onclick="userdisable({{ user.id }})">
                                    <i class="fa fa-user-lock"></i>
                                    {{ 'Désactiver'|trans }}
                                </button>
                            {% else %}
                                <button class="btn btn-green" id="btn{{ user.id }}" onclick="userenable({{ user.id }})">
                                    <i class="fa fa-user-check"></i>
                                    {{ 'Activer'|trans }}
                                </button>
                            {% endif %}

                        </td>
                        {% endif %}

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% block scripts %}
        <script>
            function userdisable(id) {
                let bouton = $('#btn' + id);
                let etat = $('#statut');
                if (confirm("{{ 'Voulez-vous vraiment désactiver ce client ?'|trans }}")) {
                    bouton.html("<i class='fa fa-spinner'></i>");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('security_user_disable') }}",
                        data: "usr=" + id,
                        success: function (data) {
                            if (data['ok'] !== '') {
                                bouton.attr('class', 'btn btn-green');
                                bouton.attr('onclick', 'userenable(' + id + ')');
                                bouton.attr('title', ' {{ "Activer"|trans }}');
                                bouton.html("<i class='fa fa-user-check'></i>{{ 'Activer'|trans }}");
                                etat.html("{{ 'Inactif'|trans }}");
                            }
                        },
                        error: function () {
                            alert('{{ "La requête n'a pas abouti"|trans }}');
                        }
                    });
                }
            }

            function userenable(id) {
                let bouton = $('#btn' + id);
                let etat = $('#statut');
                if (confirm("{{ 'Voulez-vous vraiment activer ce client ?'|trans }}")) {
                    bouton.html("<i class='fa fa-spinner'></i>");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('security_user_enable') }}",
                        data: "usr=" + id,
                        success: function (data) {
                            if (data['ok'] !== '') {
                                bouton.attr('class', 'btn btn-danger');
                                bouton.attr('onclick', 'userdisable(' + id + ')');
                                bouton.attr('title', ' {{ "Désactiver"|trans }}');
                                bouton.html("<i class='fa fa-user-lock'></i>{{ 'Désactiver'|trans }}");
                                etat.html("{{ 'Actif'|trans }}");
                            }
                        },
                        error: function () {
                            alert('{{ "La requête n'a pas abouti"|trans }}');
                        }
                    });
                }

            }

            function del(id) {
                if (confirm("{{ 'Voulez-vous vraiment supprimer ce client ?'|trans }}")) {
                    $('#btn' + id).html("<i class='fa fa-spinner'></i>");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('security_user_delete') }}",
                        data: "usr=" + id,
                        success: function (data) {
                            if (data['ok'] !== '') {
                                document.location.href = data['ok'];
                            }
                        },
                        error: function () {
                            alert('{{ "La requête n'a pas abouti"|trans }}');
                        }
                    });
                }

            }

        </script>
    {% endblock %}
    {#{% block scripts %}
        <script>
            function userdisable(id) {
                if (confirm("{{ 'Voulez-vous vraiment désactiver cet utilisateur ?'|trans }}")) {
                    $('#btn' + id).html("<img src='{{ asset('images/ajax-loader.gif') }}' width='24' />");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('security_user_disable') }}",
                        data: "usr=" + id,
                        success: function (data) {
                            if (data['ok'] != '') {
                                $('#btn' + id).attr('class', 'btn btn-shadow btn-td btn-normal btn-success');
                                $('#btn' + id).attr('onclick', 'userenable(' + id + ')');
                                $('#btn' + id).html("<i class='fa fa-user-tag'></i> {{ 'Activer'|trans }}");
                            }
                        },
                        error: function () {
                            alert("{{ 'La requête n\'a pas abouti'|trans }}");
                        }
                    });
                }

            }

            function userenable(id) {
                if (confirm("{{ 'Voulez-vous vraiment activer cet utilisateur ?'|trans }}")) {
                    $('#btn' + id).html("<img src='{{ asset('images/ajax-loader.gif') }}' width='24' />");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('security_user_enable') }}",
                        data: "usr=" + id,
                        success: function (data) {
                            if (data['ok'] != '') {
                                $('#btn' + id).attr('class', 'btn btn-shadow btn-td btn-normal btn-danger');
                                $('#btn' + id).attr('onclick', 'userdisable(' + id + ')');
                                $('#btn' + id).html("<i class='fa fa-user-lock'></i> {{ 'Désactiver'|trans }}");
                            }
                        },
                        error: function () {
                            alert("{{ 'La requête n\'a pas abouti'|trans }}");
                        }
                    });
                }

            }

            function del(id) {
                if (confirm("{{ 'Voulez-vous vraiment supprimer cet utilisateur ?'|trans }}")) {
                    $('#btn' + id).html("<img src='{{ asset('images/ajax-loader.gif') }}' width='24' />");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('security_user_delete') }}",
                        data: "usr=" + id,
                        success: function (data) {
                            if (data['ok'] != '') {
                                document.location.href = data['ok'];
                            }
                        },
                        error: function () {
                            alert("{{ 'La requête n\'a pas abouti'|trans }}");
                        }
                    });
                }

            }

        </script>
    {% endblock %}#}
{% endblock %}
